.row {
    margin-right: 0
}

#home {
    width: 100%;
    float: left;
    background-color: #fff;
    min-height: 100%
}




#home .row {
    margin-right: 0;
    min-height: 100%
}

.boy_img {
    width: 100%;
    float: left
}

#home .girl_img img {
    float: right
}

.home_content {
    width: 100%;
    float: left;
    text-align: left
}

.home_content h2 {
    font-family: Nunito, sans-serif!important;
    font-size: 47px;
    font-weight: 800;
    letter-spacing: 0;
    text-align: left;
    color: #000
}

.home_content p {
    font-family: Nunito, sans-serif!important;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    text-align: left;
    color: #434343;
    padding: 20px 20px 30px 0;
    font-size: 20px
}

#inkzers {
    width: 100%;
    float: left;
    padding-top: 40px
}

.home_2 {
    width: 100%;
    float: left;
    padding: 20px
}

.home_banner {
    padding: 10px 50px 0 50px;
    background-image: url(../../../../assets/images/home_2.png);
    background-size: 100% 100%;
    border-radius: 20px
}

.home_text_1 {
    padding: 80px 0;
    margin: auto
}

.home_text_1 p {
    color: #e0e0e0;
    font-family: Nunito;
    font-size: 19px;
    font-style: normal;
    font-weight: 100;
    letter-spacing: 0;
    text-align: left;
    margin: 25px 0;
    line-height: 30px;
    padding-right: 50px;
    word-spacing: 2px
}

.home_text_1 h2 {
    color: #ffff;
    line-height: 40px;
    font-size: 34px;
    word-spacing: 2px
}

.home {
    width: 100%;
    float: left;
    padding: 20px 0 0 0
}

.img_banner_1 {
    display: flex;
    margin: auto;
    justify-content: center
}

.img_1 {
    position: relative;
    left: 20px
}

.img_2 {
    position: absolute;
    top: 20px
}

.img_1 img {
    width: 70%;
    border-radius: 25px
}

.img_2 img {
    width: 72%;
    float: right
}

#content_div {
    display: flex;
    justify-content: center;
    margin: auto
}

.home-banner {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 40px;
    color: #fff;
    background-position: center;
    text-align: center;
    padding: 90px 0;
    width: 100%;
    height: 100vh;
    float: left;
    background-attachment: fixed
}

.tittle {
    font-family: Nunito, sans-serif!important;
    font-weight: 700
}

h1 {
    letter-spacing: 1px;
    font-size: 35px;
    font-weight: 700;
    line-height: 42px;
    margin: 20px 0
}

.tittle h4 {
    font-family: Nunito, sans-serif!important;
    color: #e0e0e0;
    font-size: 20px;
    font-weight: 300;
    line-height: 35px;
    letter-spacing: 1px
}

.search .input {
    background-color: #0f0c0c87;
    border: 0;
    font-size: 18px;
    padding: 15px;
    transition: width .3s ease;
    border-radius: 18px
}

.btn:focus,
.input:focus {
    outline: 0
}

.search.active .input {
    width: 100%
}

.search.active .btn {
    transform: translateX(298px)
}

#feature {
    padding: 60px 0;
    width: 100%;
    float: left;
    background-color: #f2f2f7
}

#feature .tittle {
    text-align: center
}

.sub-tittle {
    font-size: 17px;
    line-height: 20px;
    padding: 10px 45px
}

.feature-card p {
    font-size: 16px;
    padding: 10px 10px 0 0;
    line-height: 24px;
    color: #434343;
    font-family: Nunito, sans-serif!important;
    padding: 10px 75px
}

.feature-card .heading {
    font-weight: 700;
    margin: 16px 0 10px 0;
    color: #000;
    font-size: 20px;
    font-family: Nunito, sans-serif!important
}

.tittle .heading {
    font-size: 30px;
    font-weight: 700;
    font-family: Nunito, sans-serif!important;
    color: #000
}

.sub-tittle p {
    color: #434343;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px
}

#feature-ellipse {
    position: absolute;
    left: 38px;
    top: -19px
}

#feature-img {
    position: relative
}

#feature-ellipse-1 {
    position: absolute;
    left: 0;
    top: -19px
}

.book_tattoo {
    background-color: #fff;
    width: 100%;
    float: left;
    justify-content: center;
    padding: 60px 0;
    text-align: center;
    position: relative;
    height: 600px
}

.book_tattoo h2 {
    font-family: Nunito;
    font-size: 32px;
    font-weight: 700;
    color: #000
}

.book_tattoo p {
    color: #434343;
    font-family: Nunito;
    font-size: 20px;
    font-weight: 400;
    padding: 20px 130px
}

.book_tattoo img {
    width: 50%;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 6;
    width: 100%;
    float: left;
    padding: 40px 0;
    margin: auto
}

#mid_img {
    padding: 150px 0 0 0
}

.vision {
    width: 100%;
    float: left;
    padding: 80px 0;
    background-color: #161616;
    text-align: center;
    position: relative
}

.vision h2 {
    font-family: Nunito;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin: 20px 0 10px 0;
    color: #fff;
    margin-top: 60px
}

.vision p {
    font-family: Nunito;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: #e0e0e0;
    padding: 10px 55px
}

.vision .vision_btn {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    background-color:#fbac18;
    color: #fff;
    border: none;
    outline: 0;
    border-radius: 5px;
    padding: 10px 25px;
    margin: 30px 0
}

.vision_data {
    width: 100%;
    float: left
}

.fa-quote-left,
.fa-quote-right {
    /* font-size: 20px; */
    color: #5438ff;
    margin: 5px 2px;
}

.testimonial_slider {
    background-image: url(../../../../assets/images/slider_bg.png);
    background-size: cover;
    width: 100%;
    float: left;
    background-attachment: fixed;
    padding: 80px 0
}

.testimonial_slider_1 {
    padding: 80px 0;
    width: 100%;
    float: left;
    background-size: cover;
    padding: 140px 0
}

.content_div {
    width: 100%;
    float: left;
    background-color: #00000008;
    border-radius: 10px;
    padding: 40px
}

.content_div h5 {
    font-size: 32px;
    color: #000;
    font-weight: 700;
    margin-bottom: 10px;
    margin: 15px 10px
}

.content_div p {
    font-size: 16px;
    padding-right: 50px;
    margin: 15px 10px
}

#Search-Artist {
    width: 100%;
    float: left;
    padding: 20px
}

#Search-Artist h2 {
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 26px;
    line-height: 34px
}

#Search-Artist ul {
    padding-left: 20px
}

#Search-Artist ul li {
    list-style-type: disc;
    font-family: Nunito;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #e0e0e0;
    padding: 10px;
    text-transform: capitalize
}

#Search-Artist ul li::marker {
    font-size: 25px;
    color: #fbac18
}

.artist {
    background: #161616;
    border-radius: 40px;
    width: 100%;
    float: left;
    padding-bottom: 80px
}

.fature-card {
    text-align: center;
    padding: 50px 0 0
}

.bg-btn {
    color: #fff;
    outline: 0;
    border: none;
    font-weight: 600;
    font-size: 18px;
    padding: 15px 40px;
    border-radius: 8px;
    background: #5438ff;
    font-family: Nunito, sans-serif!important;
    transition: all .3s linear
}

.bg-btn:hover {
    transform: translateY(-10px);
    text-decoration: none
}

#Search-Artist h2 {
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    line-height: 30px;
    font-family: Nunito, sans-serif!important
}

#Search-Artist p {
    font-size: 17px;
    color: #e0e0e0;
    padding: 10px 0;
    font-family: Nunito, sans-serif!important;
    line-height: 25px
}

.content {
    padding: 88px 0 0 20px;
    margin: 60px 0 0 0;
    width: 100%;
    float: left;
}

.name {
    text-transform: uppercase;
    font-weight: 700;
    font-family: Nunito;
    padding-top: 25px;
    font-size: 16px;
    margin: 10px 10px;
}

.search_div {
    padding-left: 0;
}

#booking-banner {
    padding: 80px 0;
    width: 100%;
    float: left
}

#booking-banner h2 {
    font-size: 30px;
    font-weight: 700;
    font-family: Nunito, sans-serif!important;
    padding: 10px 0 15px
}

#booking-banner p {
    line-height: 24px;
    font-size: 16px;
    font-family: Nunito, sans-serif!important
}

h2 {
    font-weight: 700
}

.question-banner {
    text-align: center;
    padding: 80px 0 30px 0;
    width: 100%;
    float: left
}

#question-banner .row {
    margin-left: 0;
}

.faq {
    padding: 10px 60px 10px 60px;
}

#faq {
    width: 55%
}

.question-banner .tattoo_1 {
    padding-top: 10px;
}

.question-banner .girl_img {
    /* padding: 60px 0; */
    padding-top: 10px;
}


.question-banner h2 {
    font-size: 30px;
    font-family: Nunito, sans-serif!important;
    margin-bottom: 35px;
    font-weight: 700;
}

.Questions {
    background-color: #f2f2f7;
    width: 100%;
    margin: 15px 0;
    border-radius: 15px;
    float: left;
    padding: 15px 0
}

.Questions p {
    font-size: 16px
}

.que {
    color: #000;
    font-weight: 700;
    font-size: 20px
}

#testimonial {
    background-color: #f2f2f7;
    width: 100%;
    margin: 0
}

.testimonial_control {
    margin: 30px 0 10px 0;
    display: flex
}

.testimonial_control .next i {
    background-color: #5438ff;
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
    color: #fff;
    margin: 5px
}

.testimonial_control .prev i {
    background-color: #5438ff;
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
    color: #fff;
    margin: 5px
}

.testimonial_para {
    font-size: 18px;
    padding: 25px;
    padding-left: 0;
    font-family: Nunito, sans-serif!important;
    line-height: 30px
}

#testimonial {
    padding: 100px 0;
    width: 100%;
    float: left
}

#testimonial h3 {
    font-size: 30px;
    padding-left: 18px;
    font-family: Nunito, sans-serif!important
}

.testimonial_control i:hover {
    background-color: #434343
}

#searchInput {
    width: 98%;
    margin: 0 0 10px;
    padding: 8px 10px;
    border-radius: 30px
}

.search_div {
    position: relative
}

.example-headers-align .mat-expansion-panel-header-description,
.example-headers-align .mat-expansion-panel-header-title {
    flex-basis: unset
}

.example-headers-align .mat-expansion-panel-header-title {
    color: #000;
    font-weight: 700;
    font-size: 16px;
    font-family: Nunito, sans-serif!important;
    
}

.example-headers-align .mat-expansion-panel-header-description {
    font-size: 16px;
    color: #000;
    font-family: Nunito, sans-serif!important;
    padding-top: 8px;
    font-weight: bold;
}


.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    text-align: left
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none;
    margin: 15px 0;
    background: #f2f2f7;
    border-radius: 20px!important;
    padding: 10px 0 0
}

.example-headers-align .mat-form-field+.mat-form-field {
    margin-left: 8px
}

.autocomplete-container .suggestions-container ul li {
    text-align: left!important
}

#one {
    position: relative;
    float: right;
    z-index: 5;
    width: 70%
}

#two {
    position: absolute;
    top: 23%;
    width: 55%;
    right: 44%;
    z-index: 3
}

#three {
    float: right;
    position: relative;
    width: 40%;
    right: 15%;
    bottom: 57px
}

#searchInput [type=submit] {
    color: #fff;
    float: right;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    bottom: 5px;
    background: #fbac18;
    border-radius: 32px;
    line-height: 40px;
    font-weight: 700;
    padding: 1px 16px;
    font-size: 1px 16px;
    font-size: 16px;
    text-transform: uppercase;
    border: none!important
}

#geeks {
    width: 100%;
    overflow: hidden;
    margin: 0 auto
}

#geeks img {
    width: 100%;
    transition: .5s all ease-in-out
}

#geeks:hover img {
    transform: scale(1.2)
}

@media screen and (max-width:500px) {
    .serach_submit {
        font-size: 12px!important;
        padding: 1px 7px
    }
    .vision {
        padding-top: 80px!important
    }
    .example-headers-align .mat-expansion-panel-header-title {
        margin-right: 5px
    }
}



@media screen and (max-width:767px) {
    .home-banner .col-xs-12 {
        padding: 0
    }
    .tittle h4 {
        font-size: 13px
    }
    .tittle h1 {
        font-size: 16px;
        line-height: 25px
    }
    .search_div {
        display: flex;
        justify-content: center;
        margin: auto;
        padding: 20px 5px
    }
    .content {
        padding: 0
    }
    .home-banner {
        padding: 10px 10px 10px 20px;
        background-position: center
    }
    .home_text_1 h2 {
        padding-top: 10px;
        font-size: 21px;
        line-height: 32px
    }
    .home_text_1 {
        padding: 20px 17px
    }
    .artist {
        padding: 11px
    }
    #testimonial h3 {
        text-align: center
    }
    .testimonial_para {
        padding: 0;
        display: flex;
        justify-content: center;
        text-align: center;
        margin: auto
    }
    .testimonial_content {
        display: flex;
        text-align: center;
        width: 100%;
        float: left;
        flex-direction: column;
        margin: auto;
        justify-content: center
    }
    .testimonial_content img {
        margin: auto
    }
    .home_banner {
        padding: 10px 0 0
    }
    .home_text_1 p {
        padding-right: 0;
        font-size: 14px;
        line-height: 28px
    }
    .feature-card {
        justify-content: center;
        text-align: center
    }
    #img_2_feature {
        padding-right: 37px
    }
    #Search-Artist,
    .home_2 {
        padding: 20px 12px
    }
    .boy_img {
        margin: 0;
        padding: 15px 0
    }
    .home_content {
        padding: 130px 0 40px 0;
        padding-right: 0;
        margin: auto
    }
    .home_content h2 {
        font-size: 28px;
        text-align: center
    }
    .home_content p {
        color: #000;
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        padding: 20px 0 20px 0;
        margin-bottom: 0;
        
    }
    .feature-card p {
        padding: 10px 0
    }
    .book_tattoo p {
        padding: 20px 10px;
        font-size: 16px
    }
    .vision {
        padding-top: 170px;
        padding-bottom: 40px!important
    }
    .vision h2 {
        font-size: 26px;
        margin-top: 40px
    }
    .vision p {
        font-size: 16px;
        padding: 10px
    }
    .content_div {
        padding: 25px 10px
    }
    .content_div h5 {
        color: #fff;
        font-size: 25px
    }
    .content_div p {
        padding-right: 0
    }
    .faq {
        padding: 10px 0
    }
    .question-banner h2 {
        font-size: 26px;
        margin-top: 20px
    }
    .testimonial_control {
        justify-content: center;
        margin-top: 15px
    }
    .name {
        padding-top: 10px
    }
    #mid_img {
        padding: 10px 0
    }
    .book_tattoo {
        height: 480px
    }
    #hide {
        display: none
    }
    #content_div {
        background-image: linear-gradient(rgb(255 255 255 / 16%), rgb(255 255 255 / 30%)), url(../../../../assets/images/banner_1.png);
        padding: 0 15px;
        margin: 0 auto;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top
    }
    .bg-btn {
        margin: auto;
        display: flex
    }
    #inkzers .container {
        padding-right: 0;
        margin: 0%;
        max-width: 100%
    }
    .testimonial_slider {
        background-image: url(../../../../assets/images/slider_new_2.png);
        background-repeat: no-repeat;
        background-attachment: unset
    }
    .testimonial_slider_1 {
        color: #fff
    }
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    .home-banner {
        background-position: center;
        padding: 50px 0
    }
    .home_content p {
        font-size: 18px
    }
    .home_content h2 {
        font-size: 28px
    }
    #home img {
        height: auto
    }
    .boy_img {
        padding-top: 98px
    }
}

.mat-expansion-panel-header {
    padding: 0 20px
}
.find_my_artist{
background-color: #161616;
padding: 80px 0;
color: #fff;
text-align: center;
border-radius: 10px;

}
#find_my_artist{
    width: 100%;
    float: left;
    padding: 60px 0;
}
.find_my_artist h2 {
    font-size: 26px;
    line-height: 35px;
    margin: 30px 0;

}