<div class="wrapper">
    <app-header></app-header>
    <div class="content-wrapper">

        <!-- <section id="home">
          <div class="container-fluid p-0">
              <div class="row">
                  <div class="col-lg-3 col-md-3 p-0" id="hide">
                      <div class="boy_img" id="geeks">
                          <img src="assets/images/banner_11.svg " class="img-fluid" />
                      </div>
                  </div>
                  <div class="col-lg-6 col-md-6" id="content_div">
                      <div class="container home_content">
                          <h2 class="wow fadeInUp" data-wow-duration="2s">
                              We provide the artist
                          </h2>
                          <h2 class="wow fadeInUp" data-wow-duration="2s">
                              You get your dream tattoo
                          </h2>
                          <p class="wow fadeInUp" data-wow-duration="2s">
                              We at Inkzup have gathered tattoo artists, “Inkzers,” from around the country to provide you with an incredible service. Find your match. Search profiles based on price, location and availability.
                          </p>
                          <button routerLink="/pages/Inkzers-list" class="bg-btn">
              Get Inkzed
            </button>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-3 p-0" id="hide">
                      <div class="girl_img" id="geeks">
                          <img src="assets/images/banner_1girl.png" class="img-fluid" />
                      </div>
                  </div>
              </div>
          </div>
      </section> -->

        <div class="" id="inkzers">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-10 m-auto d-flex" id="content_div">
                        <div class="inkzers-content m-auto">
                            <div class="container home_content">
                                <h2 class="wow fadeInUp" data-wow-duration="2s">
                                    We provide the artist
                                </h2>
                                <h2 class="wow fadeInUp" data-wow-duration="2s">
                                    You get your tattoo
                                </h2>
                                <p class="wow fadeInUp" data-wow-duration="2s">
                                    We at Inkzup have gathered tattoo artists, “Inkzers,” from around the country to
                                    provide you with an incredible service. Find your match. Search profiles based on
                                    price, location and availability.
                                </p>
                                <!-- <p class="wow fadeInUp pt-0" data-wow-duration="2s">
                            Search profiles based on price, location and availability.

                            </p> -->
                                <button routerLink="/pages/Inkzers-list" class="bg-btn">
                                    Find My Artist
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-9 m-auto" id="hide">
                        <div class="inkzer-bg">
                            <img src="assets/images/banner_1.png" class="img-fluid" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <===============Feature-banner==============> -->
        <section class="" id="feature">
            <div class="container">
                <div class="tittle">
                    <h2 class="heading wow fadeInUp" data-wow-duration="2s">
                        How It Works
                    </h2>
                </div>
                <div class="sub-tittle">
                    <p class="text-center wow fadeInUp" data-wow-duration="3s">
                        Inkzup makes it easy for you
                    </p>
                </div>
                <div class="fature-card">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="feature-card">
                                <img src="assets/images/banner_2 (1).png" class="img-fluid" id="feature-img" />
                                <h3 class="heading wow fadeInUp" data-wow-duration="2s">
                                    You Think It
                                </h3>
                                <p class="wow fadeInUp" data-wow-duration="3s">
                                    Every amazing tattoo starts with an idea that symbolizes your individuality.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="feature-card">
                                <img src="assets/images/banner_2 (2).png" class="img-fluid" id="feature-img" />
                                <h3 class="heading wow fadeInUp" data-wow-duration="2s">
                                    We Link It
                                </h3>
                                <p class="wow fadeInUp" data-wow-duration="3s">
                                    A great tattoo is nothing without an Inkzer. Our platform helps you find the best
                                    Inkzer for your tattoo.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="feature-card">
                                <img src="assets/images/banner_2 (3).png" class="img-fluid" id="feature-img" />
                                <h3 class="heading wow fadeInUp" data-wow-duration="2s">
                                    They Ink It
                                </h3>
                                <p class="wow fadeInUp" data-wow-duration="3s">
                                    Once you’ve communicated with your Inkzer, you’re ready to get inked.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="book_tattoo">
            <div class="">
                <div class="container">
                    <div class="">
                        <h2 class="wow fadeInUp" data-wow-duration="5s">
                            Book Your Next Tattoo
                        </h2>
                        <p class="wow fadeInUp" data-wow-duration="7s">
                            When you need to hire a tattoo artist. Inkzup has them for you. See portfolios, services,
                            reviews, and chat with Inkzers, all one one platform.
                        </p>
                        <button class="bg-btn" routerLink="/pages/Inkzers-list">
                            Find Inkzers
                        </button>
                    </div>
                    <div class="col-lg-10 m-auto">
                        <div id="">
                            <img src="assets/images/final_cut_new.png" class="img-fluid" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="">
            <div class="vision">
                <div class="container">
                    <div class="col-lg-10 m-auto" id="mid_img">
                        <h2 class="wow fadeInUp" data-wow-duration="2s" style="margin-top: 125px;">
                            Upload Your Vision with Precision
                        </h2>
                        <p class="wow fadeInUp" data-wow-duration="5s">
                           
                            Our software allows you to upload pictures of your tattoo ideas to the Inkzers. Just provide
                            the measurements alongside your notes. You will be able to communicate with your Inkzer
                            throughout your tattoo prep process.
                        </p>
                        <div class="">
                            <div id="">
                                <img src="assets/images/booking-img.png" class="img-fluid" />
                            </div>
                        </div>
                        <button class="vision_btn" routerLink="/register">
                            Get Started
                        </button>
                    </div>
                </div>
            </div>
        </section>
        <section class="">
            <div class="testimonial_slider">
                <div class="col-lg-5 offset-lg-6">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="testimonial_slider_1">
                                    <div class="container">
                                        <div class="content_div">
                                            <h5 class="">
                                                Hear From Our Customers
                                            </h5>
                                            <p class="">
                                                <i _ngcontent-kat-c335="" class="fas fa-quote-left"></i> Inkzup helped
                                                find an amazing artist in my local area. I have told all of my friends
                                                about it as It was so hard to find someone that could do that
                                                work that I was looking for. The process was so easy and simple. My
                                                artist got in touch with me with the hour.
                                                <i _ngcontent-kat-c335="" class="fas fa-quote-right"></i>
                                            </p>
                                            <div class="testimonial_content">
                                                <img src="assets/images/Washington.png" class="img-responsive" style="
                          width: 70px;
                          border-radius: 50%;
                          border: 6px solid #f7cf87;
                        " />
                                                <span class="name">DeAndrey Washington</span>
                                                        <div class="">
                                                        <!-- <div class="controls testimonial_control pull-right">
                                                            <a class="" href="#carouselExampleIndicators"
                                                                data-slide="prev" class="prev"><i
                                                                    class="fas fa-arrow-left" id="active"></i></a>
                                                            <a class="" href="#carouselExampleIndicators"
                                                                data-slide="next" class="next"><i
                                                                    class="fas fa-arrow-right" id="active"></i></a>
                                                        </div> -->
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="testimonial_slider_1">
                                    <div class="container">
                                        <div class="content_div">
                                            <h5 class="">
                                                Hear From Our Customers
                                            </h5>
                                            <p class="">
                                                <i _ngcontent-kat-c335="" class="fas fa-quote-left"></i> I had been
                                                searching for months for a tattoo artist. A friend of mine told me about
                                                the platform and how she was able to find an artist in a couple
                                                days. I was impressed and tried it and I must admit it was a very easy
                                                and simple process to find an artist.
                                                <i _ngcontent-kat-c335="" class="fas fa-quote-right"></i>
                                            </p>
                                            <div class="testimonial_content">
                                                <img src="assets/images/Cassandra.png" class="img-responsive" style="
                          width: 70px;
                          border-radius: 50%;
                          border: 6px solid #f7cf87;
                        " />
                                                <span class="name">Cassandra Robinson</span>
                                                <div class="">
                                                         <!-- <div class="controls testimonial_control pull-right">
                                                            <a class="" href="#carouselExampleIndicators"
                                                                data-slide="prev" class="prev"><i
                                                                    class="fas fa-arrow-left" id="active"></i></a>
                                                            <a class="" href="#carouselExampleIndicators"
                                                                data-slide="next" class="next"><i
                                                                    class="fas fa-arrow-right" id="active"></i></a>
                                                        </div>  -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="question-banner" id="question-banner">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-lg-3 p-0">
                        <div class="tattoo_1" id="geeks">
                            <img src="assets/images/banner_4boy.png" class="img-fluid" data-aos="fade-up"
                                data-aos-duration="1000" />
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 m-auto">
                        <div class="faq container">
                            <h2 class="wow fadeInUp" data-wow-duration="2s">
                                Frequently Asked Questions
                            </h2>
                            <mat-accordion class="example-headers-align" multi>
                                <mat-expansion-panel class="col-10 mx-auto " >
                                    <mat-expansion-panel-header class="col-11 m-auto" >
                                        <!-- <mat-panel-title>
                                          <div class="" id="faq" >
                                                <img src="assets/images/faq.png" />
                                          </div>
                                        </mat-panel-title> -->
                                        <mat-panel-description class="wow fadeInUp" data-wow-duration="2s">
                                            Are all tattoo artists certified?
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <div class="wow fadeInUp" data-wow-duration="2s">
                                        We certify all artists who create a profile.
                                    </div>
                                </mat-expansion-panel>
                                <mat-expansion-panel class="col-10 mx-auto">
                                    <mat-expansion-panel-header class="col-11 m-auto" >
                                        <!-- <mat-panel-title>
                                          <div class="" id="faq" >
                                                <img src="assets/images/faq.png" />
                                          </div>
                                        </mat-panel-title> -->
                                        <mat-panel-description class="wow fadeInUp" data-wow-duration="2s">
                                            Is there a cancellation charge?
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <div class="wow fadeInUp" data-wow-duration="2s">
                                        All Inkzers have different cancellation guidelines.  Please review the details on their profile before booking.
                                    </div>
                                </mat-expansion-panel>

                                <mat-expansion-panel class="col-10 mx-auto">
                                    <mat-expansion-panel-header class="col-11 m-auto" >
                                        <!-- <mat-panel-title>
                                          <div class="" id="faq" >
                                                <img src="assets/images/faq.png" />
                                          </div>
                                        </mat-panel-title> -->
                                        <mat-panel-description class="wow fadeInUp" data-wow-duration="2s">
                                            Can I get a refund if I change my mind?
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <div class="wow fadeInUp" data-wow-duration="2s">
                                        All Inkzers have different refund policies.  Please review the details on their profile before booking.
                                    </div>
                                </mat-expansion-panel>
                                <mat-expansion-panel class="col-10 mx-auto">
                                    <mat-expansion-panel-header class="col-11 m-auto" >
                                        <!-- <mat-panel-title>
                                          <div class="" id="faq" >
                                                <img src="assets/images/faq.png" />
                                          </div>
                                        </mat-panel-title> -->
                                        <mat-panel-description class="wow fadeInUp" data-wow-duration="2s">
                                            Will my payments be secure?
                                        </mat-panel-description>
                                    </mat-expansion-panel-header >
                                    <div class="wow fadeInUp" data-wow-duration="2s">
                                        Yes. Our payment system is powered by Stripe to ensure the protection of Inkzers
                                        and customers.
                                    </div>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </div>
                    <div class="col-lg-3 p-0">
                        <div class="girl_img" id="geeks">
                            <img src="assets/images/banner_4girl.png" class="img-fluid" data-aos="fade-down"
                                data-aos-duration="1000" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="find_my_artist">
            <div class="container">
                <div class="find_my_artist">
                    <div class="col-lg-8 col-md-10 m-auto">
                        <h2>Join the community and get inspired while connecting to the worlds best tattoo artists</h2>
                        <button routerLink="/pages/Inkzers-list" class="bg-btn">
                            Find My Artist
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <app-footer></app-footer>
</div>