<app-auth-loader *ngIf="isLoad"> </app-auth-loader>
<div class="auth">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <img src="assets/images/logo.svg" alt="Logo Image" />
        <button
          type="button"
          mat-stroked-button
          class="google_btn"
          routerLink="/login"
        >
          Back
        </button>
        <div class="auth_form">
          <h3>Forgot Password</h3>
          <p *ngIf="!form_success">
            Enter your account's email and we'll send you the code to reset your
            password.
          </p>
          <span class="text-light float-left form-success" *ngIf="form_success">
            {{ form_success }}</span
          >
          <form
            name="forgotPasswordForm"
            [formGroup]="forgotPasswordForm"
            (ngSubmit)="forgotPassword()"
          >
            <div class="mb-4">
              <mat-form-field [floatLabel]="'never'">
                <input
                  matInput
                  placeholder="Email"
                  formControlName="email"
                  type="email"
                  autocomplete="off"
                />
                <img matPrefix src="assets/images/email.png" class="mt-1" />
              </mat-form-field>
              <span class="text-danger" *ngIf="email_err">
                {{ email_err }}</span
              >
              <span class="text-danger" *ngIf="form_error">
                {{ form_error }}</span
              >
            </div>
            <button class="submit_btn">Send Email Verification</button>
          </form>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-6">
        <div class="auth_img">
          <img src="assets/images/auth.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
