<div class="privacy-policy">
  <div class="container">
    <button (click)="back()">
      <img src="assets/images/back_arrow.svg" alt="" />
    </button>
    <span>Cancellation Policy</span>
    <small
      ><a href="https://inkzup.com/" target="_blank"> www.inkzup.com</a>
    </small>
    <Strong>Effective date: 1st April 2021</Strong>
    <div class="content">
      <ul>
        <li>
          Welcome to the cancellation policy of
          <a href="https://inkzup.com/" target="_blank"> www.inkzup.com</a>.
          This website is owned and operated by INKZUP LLC from the United
          States. This cancellation policy applies to all users of the platform.
        </li>
        <b>Billing and Payment Methods</b>
        <li>
          INKZUP accepts payment via a third party payment platform “Stripe”. If
          you purchase a monthly subscription, you must provide current,
          complete and accurate billing data. It is your duty to ensure that
          your billing data is kept up-to-date in case of a change, such as a
          new credit card number or change of billing address.
        </li>
        <li>
          INKZUP will charge tax when required to do so by law. You are
          responsible for all sales, use, value added or other taxes of any kind
          related to your purchase of a subscription (excluding INKZUP’s net
          income). You are also responsible for any payment-related fees
          incurred during the transaction.
        </li>
        <h5>Subscriptions and Cancellations</h5>
        <li>
          To avoid being billed for the next subscription term's price, you must
          cancel the monthly subscription prior to its renewal date before the
          end of the month. You understand and agree that fees are
          non-refundable since they are based on the monthly subscription paid
          rather than actual usage. You will be able to cancel your payment
          obligations during the subscription term you have chosen. The
          cancellation of the subscription will be immediate.
        </li>
        <li>
          All outstanding sums due will be subject to a 1.5 % late payment
          finance charge. Clients will get a reminder notification that payment
          is required if payment is not received by the next billing cycle, and
          service will be cancelled if payment is not received by the next
          billing cycle. Collection of past due amounts may be sent to a
          collection agency. Clients can reactivate service by paying all past
          due costs plus a one-month service deposit.
        </li>
        <li>
          You may cancel or manage your subscription at any time prior to the
          renewal date from the “Plans/subscription/Payments” section of your
          INKZUP Profile or by contacting us. Reducing the number of users in
          your account is not sufficient to modify or cancel your subscription,
          you must make these changes within your INKZUP profile.
        </li>
        <li>
          If you choose to cancel your subscription, you may continue to use the
          subscription until the end of the current subscription term, but you
          will not be issued a refund for the most recently (or any previously)
          charged fees.
        </li>

        <h5>Contact Us</h5>
        <li>
          For any questions or concerns, please send us an email at
          <a href="mailto:support@inkzup.com"> support@inkzup.com</a>
        </li>
      </ul>
    </div>
  </div>
</div>
