.head {
    background: #161616;
    width: 100%;
    float: left;
    height: 90px;
    z-index: 999;
}

.navbar {
    background: #161616;
}

.nav-link {
    color: #fff;
    text-align: left;
    padding-left: 0;
}

.nav-item a {
    color: #fff;
    font-size: 16px;
    padding: 20px 35px 0;
    font-weight: 600;
}

.active {
    color: #fbac18 !important;
}

.login_btn {
    background: rgba(251, 172, 24, 0.01);
    border: 2px solid #fbac18;
    color: #fff;
    font-size: 16px;
    padding: 6px 20px 6px;
    border-radius: 6px;
    margin-top: 10px;
    margin: 12px 20px 0;
    outline: none;
    transform: translateY(0);
    transition: transform .2s cubic-bezier(.2,0,.4,1);
}
.login_btn:hover{
    transform: translateY(-2px);

}
.signup_btn {
    background: #fbac18;
    border: 2px solid #fbac18;
    color: #fff;
    font-size: 16px;
    padding: 6px 20px 7px;
    border-radius: 6px;
    margin-top: 12px;
    outline: none;
    transform: translateY(0);
    transition: transform .2s cubic-bezier(.2,0,.4,1);
}
.signup_btn:hover{
    transform: translateY(-2px);

}

.nav-link:hover {
    color: #fbac18 !important;
}

.navbar-toggler-icon .mat-icon {
    color: #fbac18;
}

.navbar-nav {
    float: right;
}

.profile_dropdown {
    background: #161616;
    border: none;
    color: #fff;
    font-size: 14px;
}

.profile_dropdown img {
    width: 24%;
    padding: 5px;
}

.profile_dropdown span {
    vertical-align: text-bottom;
    color: #ffac00;
}

.profile_dropdown .dropdown-menu.show {
    background: #161616;
}

.profile_dropdown .dropdown-item {
    color: #fff;
    font-size: 16px;
    border-bottom: 1px solid #000;
    padding: 10px 30px;
}

.profile_dropdown .dropdown-item.active,
.dropdown-item:active {
    background: #161616;
}

.dropdown-item:focus,
.dropdown-item:hover {
    background: #161616;
    color: #fff;
}

.drodown-btn {
    outline: none;
    border: none;
}

.drodown-btn img {
    width: 45%;
    margin: 6px 10px 5px 10px;
}

.drodown-btn span {
    color: #fbac18;
}

.drodown-btn {
    color: #fff;
    padding: 10px 0;
}

samp {
    float: right;
    border-radius: 50%;
    line-height: 17px;
    width: 17px;
    text-align: center;
    margin-left: 6px;
    font-size: 12px;
    margin-top: 3px;
    background: #ffac00;
    color: #000;
    font-weight: bold;
}

.nav-link {
    padding: 0;
}

.porfile_btn {
    margin-top: 25px;
    color: #fff;
    border-bottom: 2px solid #161616;
}

@media (max-width: 768px) {
    .navbar-nav {
        display: flex;
        justify-content: center;
        margin: auto;
    }
    .navbar-brand {
        width: 115px;
        padding: 9px 0 5px 10px !important;
    }
    .head {
        height: 70px !important;
    }
    .logo {
        width: 57%;
    }
    .nav-item a {
        padding: 12px 35px 12px 35px;
    }
}

@media (max-width: 991px) {
    .signup_btn {
        float: left !important;
        margin-bottom: 40px;
        margin-top: 0;
    }
    .login_btn {
        margin: 20px 0;
    }
    .navbar-toggler:focus,
    .navbar-toggler:hover {
        outline: none;
    }
    .Artists {
        padding-bottom: 15px !important;
    }
    .navbar-nav {
        float: none;
    }
    .navbar-collapse {
        background: #161616;
        width: 100%;
        float: left;
    }
    .navbar {
        padding: 0;
        margin: 0;
        float: left;
        width: 100%;
        z-index: 999;
    }
    .navbar-brand {
        padding: 0;
    }
    .head {
        height: 80px;
        padding-top: 10px;
    }
    .head button {
        margin-top: 5px;
        float: right;
        display: flex;
        float: left;
    }
    .nav-item {
        margin: auto !important;
        justify-content: center;
    }
}

@media screen and (min-width: 1024px) {
    .container-fluid {
        padding: 0 187px;
    }
}

.profile_img {
    width: 40px !important;
    height: 40px;
    border-radius: 50%;
}

button:focus {
    outline: none !important;
}

.logo {
    width: 85%;
}

mat-menu {
    padding-top: 10%;
}