<footer>
    <div class="" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="logo-content">
                        <img src="assets/images/logo.svg" class="img-fluid footer_logo" />

                        <p>
                            Inzkup is an innovative platform linking clients to tattoo artists across the country.
                        </p>
                        <!-- <p>Our innovative program allows your client to upload image of their ideas along with images of bodily placement and measurements. This enables all Inkers to prep their client session in advance, allowing you to spend mor inking in your client session rather than planning on client arrival  </p> -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="links">
                        <h3>Quick Links</h3>
                        <ul>
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li><a routerLink="https://inkzupsupport.com/">Help</a></li>
                            <li>
                                <a routerLink="/register"> Register As a Get Inked Client</a>
                            </li>
                            <li>
                                <a (click)="becomeInker()" style="cursor: pointer; ">
                                    Register As a Tattoo Artist</a>
                            </li>
                          
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="links">
                        <h3>Support</h3>
                        <ul>
                            
                            
                            <li>
                                <a routerLink="/pages/terms-conditions"> Terms of Use</a>
                            </li>
                            <li><a routerLink="/pages/privacy-policy">Privacy Policy</a></li>
                            <li>
                                <a routerLink="/pages/cancellation-policy">Cancellation Policy</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="Contact">
                        <h3>Contact</h3>
                        <div class="mb-4">
                            <a class="nav-link" type="email" href="mailto:hello@Inzkzup.com">
                                <i class="fas fa-envelope"></i><span class="email"> hello@inkzup.com</span></a>
                        </div>
                        <h3 class="social_icons">Connect With Us</h3>
                        <div class="">
                            <ul class="navbar-nav">
                                <li class="nav-item active">
                                    <a class="nav-link" href="https://www.facebook.com/inkzup/" target="_blank">
                                        <i class="fab fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="https://www.instagram.com/inkzupofficial/" target="_blank">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="https://www.youtube.com/channel/UC4KT4jGYY3iDbIZUNHOq2UA" target="_blank">
                                        <i class="fab fa-youtube"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright text-center">
        <p style="font-size: 14px">© 2023 INKZUP, All Rights Reserved</p>
    </div>
</footer>