<div class="" id="inkzers">
    <!-- <app-header></app-header> -->
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-10 main_div  ">
                <div class="inkzers-content m-auto">
                    <div class="inkzer_content2">
                        <h3 class="wow fadeInUp" data-wow-duration="2s">
                            We Provide the Link
                        </h3>
                        <h3 class="wow fadeInUp" data-wow-duration="4s">
                            You Provide the Ink
                        </h3>
                        <div class="text_p">
                            <p class="wow fadeInUp" data-wow-duration="3s">
                                Inkzup is a platform linking tattoo artists with clients across the country.
                            </p>
                            <p class="wow fadeInUp" data-wow-duration="4s">
                                Set up your account to expand your clientele and boost your revenue.
                            </p>
                        </div>
                        <button type="button" class="bg-btn wow fadeInUp" data-wow-duration="5s" (click)="inker()">
                        Get Started
            </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-9 m-auto">
                <div class="inkzer-bg">
                    <img src="assets/images/banner.png" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="portfolio_slider text-center">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <h3 class="wow fadeInUp" data-wow-duration="2s">
                    You deserve a different kind of clientele experience
                </h3>
                <p class="wow fadeInUp" data-wow-duration="3s">
                    One that is less time consuming, less questions asked and ultimately more Ink! <br />Less thinking more inking! <br />Create your profile, set your own price and availability. Manage your bookings and clients and get inking!
                </p>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-sm">
                                <img class="d-block w-100 first_img" id="one_img" src="assets/images/portfolio_1.svg" alt="1 slide" />
                            </div>
                            <div class="col-sm">
                                <img class="d-block w-100 first_img" id="one_img_2" src="assets/images/portfolio_2.svg" alt="2 slide" />
                            </div>
                            <div class="col-sm">
                                <img class="d-block w-100 first_img" id="one_img_3" src="assets/images/portfolio_3.png" alt="3 slide" />
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="carousel-item ">
                            <div class="row">
                                <div class="col-sm">
                                    <img class="d-block w-100 first_img" id="one_img" src="assets/images/portfolio_1.svg" alt="1 slide" />
                                </div>
                                <div class="col-sm">
                                    <img class="d-block w-100 first_img" id="one_img_2" src="assets/images/portfolio_2.svg" alt="2 slide" />
                                </div>
                                <div class="col-sm">
                                    <img class="d-block w-100 first_img" id="one_img_3" src="assets/images/portfolio_3.png" alt="3 slide" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>

<section class="greater">
    <div class="container">
        <div class="col-lg-10 m-auto">
            <div class="content">
                <h2 class="wow fadeInUp" data-wow-duration="2s">
                    Greater Access. Greater Clientele. Greater Possibility.
                </h2>
                <p class="wow fadeInUp" data-wow-duration="4s">
                    Accelerating your growth as a professional tattoo artist requires access to a wider audience of potential clients. Inkzup brings a world of quality clientele directly to your inbox.
                </p>
            </div>
            <img src="assets/images/greater_img.png" class="img-fluid" data-aos="zoom-in-up" data-aos-duration="1000" />
        </div>
    </div>
</section>

<div class="" id="portfolio">
    <div class="" id="work">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="work-content">
                        <h3 class="wow fadeInUp" data-wow-duration="2s">How It Works</h3>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 m-auto col-10">
                    <div class="Feature wow fadeInleft" data-wow-duration="2s">
                        <div class="d-flex">
                            <div class="">
                                <img src="assets/images/step1.svg" class="img-fluid" />
                            </div>
                            <div class="my_text">
                                <span class="wow fadeInUp" data-wow-duration="2s">
                  STEP 1
                </span>
                                <p class="wow fadeInUp" data-wow-duration="2s">
                                    Sign up with your details
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-10 m-auto">
                    <div class="Feature wow fadeInleft" data-wow-duration="4s">
                        <div class="d-flex">
                            <div class="">
                                <img src="assets/images/step2.svg" class="img-fluid step_2" />
                            </div>
                            <div class="my_text">
                                <span class="wow fadeInUp" data-wow-duration="2s"> STEP 2</span>
                                <p class="wow fadeInUp" data-wow-duration="2s">
                                    Complete your profile
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-10 m-auto">
                    <div class="Feature wow fadeInleft" data-wow-duration="2s">
                        <div class="d-flex">
                            <div class="">
                                <img src="assets/images/step3.svg" class="img-fluid" />
                            </div>
                            <div class="my_text">
                                <span class="wow fadeInUp" data-wow-duration="2s"> STEP 3</span>
                                <p class="wow fadeInUp" data-wow-duration="2s">
                                    Profile approval
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-10 m-auto">
                    <div class="Feature wow fadeInleft" data-wow-duration="4s">
                        <div class="d-flex">
                            <div class="step_4">
                                <img src="assets/images/step4.svg" class="img-fluid" />
                            </div>
                            <div class="my_text">
                                <span class="wow fadeInUp" data-wow-duration="2s"> STEP 4</span>
                                <p class="wow fadeInUp" data-wow-duration="2s">Start inking</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             <button type="button" class="bg-btn Join_ wow fadeInUp text-center" data-wow-duration="5s" (click)="inker()">
            Join Today
      </button>
        </div>
    </div>

    <div class="" id="tattoo">
        <div class="container">
            <div class="">
                <h2 class="wow fadeInDown" data-wow-duration="4s">
                     Tattoo Clients Spend Hours Searching for the Right Tattooist –
                     <div class="col-lg-6 col-sm-10 m-auto">
                    <h5 class="sub_text"> Feeling Frustrated and Disappointed  By What They Find.</h5>

                     </div>
                </h2>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="">
                        <img src="assets/images/add_booking_1.png" class="img-fluid wow fadeInDown" data-wow-duration="" />
                    </div>
                </div>
                <div class="col-lg-6 d-flex">
                    <div class="tattoo-content">
                        <p class="wow fadeInUp" data-wow-duration="2s">
                            Inkzup provides clients a digital platform to find tattoo artists like you in their area. We have a wide network of tattooists. Our tattoo artist search allows clients to quickly and easily find you for their next tattoo.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 d-flex">
                    <div class="tattoo-content">
                        <p class="wow fadeInUp" data-wow-duration="2s">
                            At Inkzup, we take the guess out of clients trying to find a way to book with you. The platform also provides you with total client management and messaging services.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="">
                        <img src="assets/images/Client Profile 1.png" class="img-fluid wow fadeInup" data-wow-duration="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="" id="booking">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-9 m-auto">
                    <h1 class="wow fadeInUp" data-wow-duration="2s">
                        Dashboard and Booking
                    </h1>
                    <div class="">
                        <p class="wow fadeInUp" data-wow-duration="2s">
                            At Inkzup, we take the guess work out of booking your next tattoo. Share your booking link with clients and keep track of your appointments with a single glance. As tattoo artists ourselves, we understand how hard it is to find a platform that does everything
                            that you need it to do. We built Inkzup to deliver tattooists everything they need in one quick, easy-to-use platform.
                        </p>

                        <p class="wow fadeInUp" data-wow-duration="2s">
                            We deliver real time booking opportunities and availability to potential clients – simplifying the booking process and connecting you with clients on a timeline that works for you.
                        </p>
                    </div>
                </div>
                <div class="col-md-8 m-auto">
                    <div class="booking_image">
                        <img src="assets/images/booking_image.png" class="img-fluid" />
                    </div>
                    <button type="button" class="bg-btn" (click)="inker()">
            Get Started 
          </button>
                </div>
            </div>
        </div>
    </div>
    <div class="" id="review">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 m-auto">
                    <div class="">
                        <img src="assets/images/review_image.png" class="img-fluid" />
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 m-auto">
                    <div class="review-content">
                        <i class="fas fa-quote-left"></i>
                        <p class="wow fadeInUp" data-wow-duration="2s">
                            “The aim of art is to represent not the outward appearance of things, but their inward significance”
                        </p>
                        <h4 class="wow fadeInUp" data-wow-duration="3s">– Aristotle</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="" id="SUBSCRIBE">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto text-center">
                    <div class="" style="color: black">
                        <h3 class="wow fadeInUp" data-wow-duration="2s">
                            We've Kept It Simple For You. We Offer Two Plans.
                        </h3>
                        <!-- <p class="wow fadeInUp" data-wow-duration="3s">If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first.</p> -->
                    </div>
                    <div class="row mt-3 mb-5">
                        <div class="col-md-6 mb-2">
                            <div class="plans">
                                <div class="plans_bg">
                                    <h4 class="wow fadeInUp" data-wow-duration="2s">Inkzer</h4>
                                </div>
                                <div class="plan_text">
                                    <img src="assets/images/free.svg" class="my-3" />
                                    <div class="plans_div">
                                        <div class="plans_detail">
                                            <p>
                                                <img src="assets/images/checkbox.svg" />
                                            </p>

                                            <div class="para wow fadeInUp" data-wow-duration="2s">
                                                10 free bookings
                                            </div>
                                        </div>
                                        <div class="plans_detail">
                                            <p>
                                                <img src="assets/images/checkbox.svg" />
                                            </p>
                                            <div class="para wow fadeInUp" data-wow-duration="2s">
                                                Basic profile listing
                                            </div>
                                        </div>
                                        <div class="plans_detail">
                                            <p>
                                                <img src="assets/images/checkbox.svg" />
                                            </p>
                                            <div class="para wow fadeInUp" data-wow-duration="2s">
                                                Client email booking notifications 
                                            </div>
                                        </div>
                                        <div class="plans_detail">
                                            <p>
                                                <img src="assets/images/checkbox.svg" />
                                            </p>
                                            <div class="para wow fadeInUp" data-wow-duration="2s">
                                                Client email booking reminders
                                            </div>
                                        </div>
                                        <div class="plans_detail">
                                            <p>
                                                <img src="assets/images/checkbox.svg" />
                                            </p>
                                            <div class="para wow fadeInUp" data-wow-duration="2s">
                                                Social media integration 
                                            </div>
                                        </div>
                                        <div class="plans_detail">
                                            <p>
                                                <img src="assets/images/checkbox.svg" />
                                            </p>
                                            <div class="para wow fadeInUp" data-wow-duration="2s">
                                                Real time messaging
                                            </div>
                                        </div>
                                        <div class="plans_detail">
                                            <p>
                                                <img src="assets/images/checkbox.svg" />
                                            </p>
                                            <div class="para wow fadeInUp" data-wow-duration="2s">
                                                Portfolio showcase
                                            </div>
                                        </div>
                                        <div class="plans_detail">
                                            <div>
                                                <img src="assets/images/cross_checked.svg" style="width: 23px; margin: 4px 0" />
                                            </div>
                                            <div class="para wow fadeInUp" data-wow-duration="3s" id="opacity">
                                                Instagram & facebook marketing features
                                            </div>
                                        </div>
                                        <div class="plans_detail my-3">
                                            <p>
                                                <img src="assets/images/cross_checked.svg" style="width: 18px" />
                                            </p>
                                            <div class="para wow fadeInUp" data-wow-duration="3s" id="opacity">
                                                Certified pro badge branding
                                            </div>
                                        </div>
                                        <div class="plans_detail">
                                            <p>
                                                <img src="assets/images/cross_checked.svg" />
                                            </p>
                                            <div class="para wow fadeInUp" data-wow-duration="3s" id="opacity">
                                                Booking calendar
                                            </div>
                                        </div>
                                        <div class="plans_detail">
                                            <p>
                                                <img src="assets/images/cross_checked.svg" />
                                            </p>
                                            <div class="para wow fadeInUp" data-wow-duration="3s" id="opacity">
                                                Built in payments at one rate of 5% 
                                            </div>
                                        </div>
                                        <div class="plans_detail">
                                            <p>
                                                <img src="assets/images/cross_checked.svg" />
                                            </p>
                                            <div class="para wow fadeInUp" data-wow-duration="3s" id="opacity">
                                                Shareable booking link 
                                            </div>
                                        </div>
                                        <div class="plans_detail">
                                            <p>
                                                <img src="assets/images/cross_checked.svg" />
                                            </p>
                                            <div class="para wow fadeInUp" data-wow-duration="3s" id="opacity">
                                                Shareable profile link 
                                            </div>
                                        </div>
                                        <div class="plans_detail">
                                            <p>
                                                <img src="assets/images/cross_checked.svg" />
                                            </p>
                                            <div class="para wow fadeInUp" data-wow-duration="3s" id="opacity">
                                                Shareable review link 
                                            </div>
                                        </div>
                                        <div class="plans_detail">
                                            <p>
                                                <img src="assets/images/cross_checked.svg" />
                                            </p>
                                            <div class="para wow fadeInUp" data-wow-duration="3s" id="opacity">
                                                Higher marketplace search ranking
                                            </div>
                                        </div>
                                        <div class="plans_detail">
                                            <p>
                                                <img src="assets/images/cross_checked.svg" />
                                            </p>
                                            <div class="para wow fadeInUp" data-wow-duration="3s" id="opacity">
                                                Reviews and ratings 
                                            </div>
                                        </div>
                                        <div class="plans_detail">
                                            <p>
                                                <img src="assets/images/cross_checked.svg" />
                                            </p>
                                            <div class="para wow fadeInUp" data-wow-duration="3s" id="opacity">
                                                Tattoo consent waivers 
                                            </div>
                                        </div>
                                        <div class="plans_detail">
                                            <p>
                                                <img src="assets/images/cross_checked.svg" />
                                            </p>
                                            <div class="para wow fadeInUp" data-wow-duration="3s" id="opacity">
                                                Customized services
                                            </div>
                                        </div>
                                        <div class="plans_detail">
                                            <p>
                                                <img src="assets/images/cross_checked.svg" />
                                            </p>
                                            <div class="para wow fadeInUp" data-wow-duration="3s" id="opacity">
                                                Advanced Reporting
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" (click)="inker()">Let's Go</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 mb-2">
                            <div class="plans">
                                <div class="plans_bg">
                                    <h4 class="wow fadeInUp" data-wow-duration="2s">
                                        Inkzer Pro
                                    </h4>
                                </div>
                                <div class="plan_text">
                                    <img src="assets/images/paid.svg" class="my-3" />
                                    <div class="plans_div">
                                        <div class="plans_detail">
                                            <p>
                                                <img src="assets/images/checkbox.svg" />
                                            </p>

                                            <div class="para wow fadeInUp" data-wow-duration="2s">
                                                Unlimited bookings
                                            </div>
                                        </div>
                                        <div class="plans_detail">
                                            <p>
                                                <img src="assets/images/checkbox.svg" />
                                            </p>
                                            <div class="para wow fadeInUp" data-wow-duration="2s">
                                                Dashboard
                                            </div>
                                        </div>
                                        <div class="plans_detail">
                                            <p>
                                                <img src="assets/images/checkbox.svg" />
                                            </p>
                                            <div class="para wow fadeInUp" data-wow-duration="2s">
                                                Unlimited priority email support
                                            </div>
                                        </div>
                                        <div class="plans_detail">
                                            <p>
                                                <img src="assets/images/checkbox.svg" />
                                            </p>
                                            <div class="para wow fadeInUp" data-wow-duration="2s">
                                                Unlimited messaging
                                            </div>
                                        </div>
                                        <div class="plans_detail">
                                            <p>
                                                <img src="assets/images/checkbox.svg" />
                                            </p>
                                            <div class="para wow fadeInUp" data-wow-duration="2s">
                                                Branded website
                                            </div>
                                        </div>
                                        <div class="plans_detail">
                                            <p>
                                                <img src="assets/images/checkbox.svg" />
                                            </p>
                                            <div class="para wow fadeInUp" data-wow-duration="2s">
                                                Higher marketplace search ranking
                                            </div>
                                        </div>
                                        <div class="plans_detail">
                                            <p>
                                                <img src="assets/images/checkbox.svg" />
                                            </p>
                                            <div class="para wow fadeInUp" data-wow-duration="2s">
                                                Priority listing
                                            </div>
                                        </div>
                                        <div class="plans_detail">
                                            <div>
                                                <img src="assets/images/checkbox.svg" style="width: 21px" />
                                            </div>
                                            <div class="para wow fadeInUp text-left" data-wow-duration="3s">
                                                Instagram & facebook marketing features
                                            </div>
                                        </div>
                                        <div class="plans_detail my-3">
                                            <p>
                                                <img src="assets/images/checkbox.svg" style="width: 18px" />
                                            </p>
                                            <div class="para wow fadeInUp" data-wow-duration="3s">
                                                Certified pro badge branding
                                            </div>
                                        </div>
                                        <div class="plans_detail">
                                            <p>
                                                <img src="assets/images/checkbox.svg" />
                                            </p>
                                            <div class="para wow fadeInUp" data-wow-duration="3s">
                                                Booking calendar
                                            </div>
                                        </div>
                                        <div class="plans_detail">
                                            <p>
                                                <img src="assets/images/checkbox.svg" />
                                            </p>
                                            <div class="para wow fadeInUp" data-wow-duration="3s">
                                                Built in payments at one rate of 5% 
                                            </div>
                                        </div>
                                        <div class="plans_detail">
                                            <p>
                                                <img src="assets/images/checkbox.svg" />
                                            </p>
                                            <div class="para wow fadeInUp" data-wow-duration="3s">
                                                Shareable booking link
                                            </div>
                                        </div>
                                        <div class="plans_detail">
                                            <p>
                                                <img src="assets/images/checkbox.svg" />
                                            </p>
                                            <div class="para wow fadeInUp" data-wow-duration="3s">
                                                Shareable profile link 
                                            </div>
                                        </div>
                                        <div class="plans_detail">
                                            <p>
                                                <img src="assets/images/checkbox.svg" />
                                            </p>
                                            <div class="para wow fadeInUp" data-wow-duration="3s">
                                                Shareable review link
                                            </div>
                                        </div>
                                        <div class="plans_detail">
                                            <p>
                                                <img src="assets/images/checkbox.svg" />
                                            </p>
                                            <div class="para wow fadeInUp" data-wow-duration="3s">
                                                Client email and text booking reminders
                                            </div>
                                        </div>
                                        <div class="plans_detail">
                                            <p>
                                                <img src="assets/images/checkbox.svg" />
                                            </p>
                                            <div class="para wow fadeInUp" data-wow-duration="3s">
                                                Reviews and ratings
                                            </div>
                                        </div>
                                        <div class="plans_detail">
                                            <p>
                                                <img src="assets/images/checkbox.svg" />
                                            </p>
                                            <div class="para wow fadeInUp" data-wow-duration="3s">
                                                Tattoo consent waivers
                                            </div>
                                        </div>
                                        <div class="plans_detail">
                                            <p>
                                                <img src="assets/images/checkbox.svg" />
                                            </p>
                                            <div class="para wow fadeInUp" data-wow-duration="3s">
                                                Customized services 
                                            </div>
                                        </div>
                                        <div class="plans_detail">
                                            <p>
                                                <img src="assets/images/checkbox.svg" />
                                            </p>
                                            <div class="para wow fadeInUp" data-wow-duration="3s">
                                                Advanced reporting
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" (click)="inker()">Let's Go</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>