<div class="privacy-policy">
    <div class="container">
        <button><img src="assets/images/back_arrow.svg" (click)="back()"></button>
        <span>Terms & Conditions</span>
        <small><a href="https://inkzup.com/" target="_blank"> www.inkzup.com</a></small>
        <strong>Effective date: 1st August 2021 </strong>
        <div class="content">
            <h5>Introduction </h5>
            <p>Welcome to <a href="https://inkzup.com/" target="_blank"> www.inkzup.com</a> </p>
            <br>
            <p>This website is owned and operated by INKZUP LLC located in the United States. Throughout the site, the
                terms “we”, “us”, “INKZUP”, “platform” and “our” refer to INKZUP LLC. We offer this platform, including
                all information, tools, and services available from this site to you, the user, conditioned upon your
                acceptance of all terms, conditions, policies, and notices stated here. </p>
            <p>By using our platform, you (“Clients”, “Tattoo Artists” or “Inkers”) engage in our “service” and agree to
                be bound by the following terms and conditions/terms of use (“Terms”), including those additional terms
                and policies referenced herein and/or available by hyperlink. Clients referred to as users seeking
                tattoo artists on the platform while Inkers are referred to as the tattoo artists on the INKZUP
                platform. The tattoo artists and clients are both users of the services provided by INKZUP and are
                hereinafter referred to collectively as "Ssers". </p>
            <p>These Terms and Conditions apply to all users of the site, including without limitation users who are
                browsers and/ or contributors of content. The platform is strictly limited for users from the United
                States only. </p>
            <h5>PLEASE READ THE FOLLOWING TERMS AND DISCLAIMERS CAREFULLY BEFORE USING THE SERVICES. IF YOU DO NOT AGREE
                WITH THESE TERMS, OUR PRIVACY POLICY, OR ANY OTHER OF OUR POLICIES, YOU SHOULD NOT USE THE SERVICES.
            </h5>
            <b style="color: #fff;">INKZUP – General Information</b>

            <ul>
                <li><b>About</b>
                    Inkzup has gathered tattoo artist from all over the country into one easy to use search and
                    communication platform.We call them Inkers! Look through the profiles, price ranges and availability
                    of our Inkers and get “Inked”. To find out more information about what we do, please refer to our
                    website.

                </li>
                <li> <b>Sole discretion.</b>
                    We reserve the right to add/discontinue any product or service anytime at our sole discretion.

                </li>
            </ul>
            <h5>Eligibility </h5>
            <p>Our platform is strictly limited to users who can lawfully enter into and form contracts on the Internet.
                If you are under age 18, you may only use the services with the consent of your parent or legal
                guardian. Please be sure your parent or legal guardian has reviewed and discussed these Terms with you.
            </p>
            <h5>No Endorsement.  </h5>
            <p>INKZUP is a SaaS Platform and provides a medium to facilitate the booking and service for appointments
                for inkers and clients. INKZUP is an independent operation and does not endorse, and makes no
                representation or warranty in respect of any client, tattoo artist, third party service, information or
                other schedulable event. You acknowledge that INKZUP is not responsible for the quality or performance
                of any services and any other schedulable events or services. </p>
            <p>Although we will use reasonable skills and care in providing the Platform, we will not verify if, and
                cannot guarantee that, all information is accurate, complete or correct, nor can we be held liable for
                any errors (including manifest and typographical errors), any interruptions (whether due to any
                (temporary and/or partial) breakdown, repair, upgrade or maintenance of our Platform or otherwise),
                inaccurate, misleading or untrue information or non-delivery of information. </p>

            <h5>Client Responsibility for Tattoo Services </h5>
            <p>INKZUP is only a platform for tattoo artists and clients to connect, and it simply serves as a channel
                for the delivery of tattoo services for the clients. INKZUP does not supply or contract for tattoo
                services; instead, tattoo artists and clients contract for tattoo services separately through the
                platform. Each client is exclusively responsible for choosing the tattoo artists, the tattoo services to
                be given, and the place where the tattoo services will be done, whether at a tattoo shop or at a
                location chosen by the client. Any choice by a client to obtain tattoo services or by a tattoo artists
                to offer tattoo services is made at the discretion and risk of that user. </p>
            <h5>Plans </h5>
            <p>INKZUP offers a free account with basic features and a paid account with additional features. The paid
                accounts work on a monthly subscription period. To find more information on how subscriptions and
                cancellations work, please refer to our cancellation policy. </p>

            <h5>Payments, Subscriptions and Cancellations </h5>
            <p>For more information on this section, please refer to our cancellation policy. </p>

            <h5>Special Conditions for Tattoo Artists </h5>
            <p>As a tattoo artist or inker, you are solely responsible for every activity that is carried out within the
                framework of your user account with our platform, in particular all information that is made available
                and messages that are written to clients. Third parties may only make changes to your profile if you
                have given them the appropriate authority to do so and are liable for them. </p>
            <p>You undertake to make true statements in your profile. The information provided is intended to guide
                clients in their purchase decision process. Therefore, your own skills may be presented, but no
                misleading statements may be made that aim to deceive the client. </p>

            <h5>Special Conditions for Clients </h5>
            <p>Appointments may only be booked in your own name. If you book an appointment as a client (possibly giving
                false information) when you are not legally allowed to do so or you act under a false name, the tattoo
                artist may refuse you the appointment and we reserve the right to exclude you from future use of the
                platform. </p>
            <h5>Permitted use  </h5>
            <p>You agree to use the site and the services only for purposes that are permitted by these Terms and in
                compliance with all applicable laws, regulations, and generally accepted practices or guidelines in the
                relevant jurisdictions. You may only use the site and services for your non-commercial, non-exclusive,
                non-assignable, non-transferable, and limited personal use, and no other purposes. </p>
            <ul>
                <p>You will not (and will not attempt to): </p>
                <li>Access any of the services by any means other than through the interface that is provided by INKZUP;
                </li>

                <li>Gain unauthorized access to INKZUP’s computer system or engage in any activity that interferes with
                    the performance of, or impairs the functionality or security of the site, the services, INKZUP’s
                    networks, and computer systems; </li>
                <li>Access any of the site or the services through any automated means or with any automated features or
                    devices (including use of scripts or web crawlers); </li>
                <li>Access or collect any personally identifiable information, including any names, email addresses, or
                    other such information for any purpose, including, without limitation, commercial purposes; </li>
                <li>Reproduce, duplicate, copy, sell, trade, or resell any aspect of the site or the services for any
                    purpose; and </li>
                <li>Reproduce, duplicate, copy, sell, trade, or resell any products or services bearing any trademark,
                    service mark, trade name, logo, or service mark owned by INKZUP in a way that is likely or intended
                    to confuse the owner or authorized user of such marks, names or logos. </li>




            </ul>
            <h5>Limited License and site Access; Acceptable Use </h5>
            <p>You may not: (a) resell or make any commercial use of this site or any of the contents of this site; (b)
                modify, adapt, translate, reverse engineer, decompile, disassemble or convert any of the contents of
                this site not intended to be so read; (c) copy, imitate, mirror, reproduce, distribute, publish,
                download, display, perform, post or transmit any of the contents of this site in any form or by any
                means; or (d) use any data mining, bots, spiders, automated tools or similar data gathering and
                extraction methods on the contents of the site or to collect any information from the site or any other
                user of the site. </p>

            <p>You use this site at your own risk. You agree that you will be personally responsible for your use of
                this site and all of your communication and activity on this site. If we determine, in our sole
                discretion, that you engaged in prohibited activities, were not respectful of other users, or otherwise
                violated the Terms and Conditions, we may deny you access to this site on a temporary or permanent basis
                and any decision to do so is final. </p>


            <h5>Accounts, Registrations, and Passwords </h5>

            <p>If you use this site and such use requires setting up an account and/or password(s), you are solely
                responsible for maintaining the confidentiality of your account and password(s) and for restricting
                access to your computer.  If you open an account, register, or otherwise provide us with any
                information, you agree to provide us with current, complete, and accurate information as requested by
                any forms. INKZUP is not responsible for any errors or delays in responding to any inquiry or request
                caused by any outdated or incorrect information provided by you or any technical problems beyond the
                control of INKZUP. You acknowledge and agree that any login, identifier, or password issued in
                connection with this site (each a "Password") is confidential information and must be kept secure. You
                may not disclose such a Password to another person or entity or permit another entity to access the site
                using such a Password. You must notify INKZUP immediately of any breach of security or unauthorized use
                of your account. INKZUP cannot be responsible and disclaims all liability in connection with, the use of
                any information that you post or display on this site. </p>

            <h5>Intellectual Property Rights </h5>
            <p>Your use of the site and its contents grants no rights to you concerning any copyright, designs, and
                trademarks and all other intellectual property and material rights mentioned, displayed, or relating to
                the Content (defined below) on the site.  All Content, including third-party trademarks, designs, and
                related intellectual property rights mentioned or displayed on this site, are protected by national
                intellectual property and other laws. Any unauthorized reproduction, redistribution, or other use of the
                Content is prohibited and may result in civil and criminal penalties. You may use the Content only with
                our prior written and express authorization. To inquire about obtaining authorization to use the
                Content, please contact us at support@inkzup.com </p>
            <p>In addition to the intellectual property rights mentioned above, "Content" is defined as any graphics,
                photographs, including all image rights, sounds, music, video, audio, or text on the site. </p>
            <h5>Monitoring Activity </h5>
            <p>INKZUP has no obligation to monitor this site or any portion thereof. However, we reserve the right to
                review any posted content and remove, delete, redact or otherwise modify such content, at our sole
                discretion, at any time and from time to time, without notice or further obligation to you. INKZUP has
                no obligation to display or post any content. </p>
            <h5>Digital Millennium Copyright Act </h5>
            <p>INKZUP expects all users to respect the intellectual property rights of others. INKZUP may remove
                material that appears in its sole discretion to infringe upon the intellectual property rights of others
                and we will terminate the access rights of any repeat infringer. If you are a copyright owner or an
                agent thereof and believe that any Content infringes upon your copyrights, you may notify us at
                support@inkzup.com.  The notification must include the following information: physical or electronic
                signature of the owner or authorized agent of the owner of the allegedly infringed work; identification
                of the allegedly infringed work; identification of the material that is claimed to be infringing and
                reasonably sufficient information for INKZUP to locate the material; contact information of the
                notifying party, such as an address, telephone number, and email; a statement that the notifying party
                has a good faith belief that the use of the material in the manner complained of is not authorized by
                the owner of the allegedly infringed work, its agent or the law; and a statement, under penalty of
                perjury that the information in the notification is accurate and the notifying party is the owner or
                authorized agent of the allegedly infringed work. </p>
            <h5>Disclaimer </h5>
            <p style="text-transform: uppercase;">TO THE FULLEST EXTENT PERMISSIBLE UNDER APPLICABLE LAW, INKZUP
                EXPRESSLY DISCLAIMS ANY AND ALL WARRANTIES AND REPRESENTATIONS, EXPRESS OR IMPLIED, INCLUDING ANY (A)
                WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE OR USE AS TO THE SITE AND ITS CONTENT,
                INCLUDING THE INFORMATION, DATA, SOFTWARE, OR PRODUCTS CONTAINED THEREIN, OR THE RESULTS OBTAINED BY
                THEIR USE OR AS TO THE PERFORMANCE THEREOF, (B) WARRANTIES OR CONDITIONS ARISING THROUGH COURSE OF
                DEALING, AND (C) WARRANTIES OR CONDITIONS OF UNINTERRUPTED OR ERROR-FREE ACCESS OR USE. THE SITE AND ALL
                CONTENTS THEREIN AND COMPONENTS THEREOF ARE PROVIDED ON AN “AS IS” BASIS AND YOUR USE OF THE SITE IS AT
                YOUR OWN RISK. </p>
            <h5>Limitation of Liability </h5>
            <p>You agree that in no event shall INKZUP be liable to you, or any third party, for any lost profits,
                incidental, consequential, punitive, special, or indirect damages arising out of or in connection with
                the site or the Terms and Conditions, even if advised as to the possibility of such damages, regardless
                of whether the claim for such damages is based in contract, tort, strict liability or otherwise. This
                limitation on liability includes, but is not limited to, any (i) errors, mistakes, or inaccuracies in
                any Content or for any loss or damage of any kind incurred by you as a result of your use of or reliance
                on the Content; (ii) the transmission of any bugs, viruses, Trojan horses or the like which may infect
                your equipment, failure of mechanical or electronic equipment; (iii) unauthorized access to or use of
                the site or INKZUP' secure servers and/or any personal information and/or financial information stored
                therein; or (iv) theft, operator errors, strikes or other labor problems or any force majeure. </p>
            <h5>Indemnification </h5>
            <p>You agree to indemnify and hold INKZUP and its subsidiaries, affiliates, officers, directors, agents, and
                employees, harmless from and against any suit, action, claim, demand, penalty, or loss, including
                reasonable attorneys’ fees, made by or resulting from any third party due to or arising out of your use
                of the site, breach of the Terms and Conditions or the materials it incorporates by reference, or your
                violation of any law, regulation, order or other legal mandates, or the rights of a third party. </p>
            <h5>Dispute Resolution & Governing Laws </h5>
            <p>In the event of a dispute arising out of or in connection with these terms or any contract between you
                and us, then you agree to attempt to settle the dispute by engaging in good faith with us in a process
                of mediation before commencing arbitration or litigation. </p>
            <h5>Children </h5>
            <p>If you use or engage with the website and are under 18 years of age, you must have your parent’s or legal
                guardian’s permission to do so. By using or engaging with the website, you also acknowledge and agree
                that you are permitted by your jurisdiction’s applicable law to use and/or engage with the website. </p>
            <h5>Privacy </h5>
            <p>For more information on how we collect your information and cookies, please refer to our Privacy Policy.
            </p>
            <h5>Links To Other Web sites </h5>
            <p>Our site may contain links to third-party websites or services that are not owned or controlled by us.
                INKZUP has no control over and assumes no responsibility for, the content, privacy policies, or
                practices of any third-party websites or services. You further acknowledge and agree that INKZUP shall
                not be responsible, directly or indirectly, for any damage or loss caused or alleged to be caused by or
                in connection with the use of or reliance on any such content, goods, or services available on or
                through any such websites or services. s</p>
            <p>We strongly advise you to read the terms and conditions and privacy policies of any third-party websites
                or services that you visit. </p>
            <h5>Changes </h5>
            <p>We reserve the right to update and revise these Terms and Conditions at any time. You will know if these
                Terms and Conditions have been revised since your last visit to the website by referring to the
                "Effective Date of Current Policy" date at the top of this page. Your use of our site constitutes your
                acceptance of these Terms and Conditions as amended or revised by us from time to time, and you should,
                therefore, review these Terms and Conditions regularly. </p>
            <h5>

                Electronic Communications </h5>
            <p>When you visit the site or send us e-mails, you are communicating with us electronically. In so doing,
                you consent to receive communications from us electronically. You agree that all agreements, notices,
                disclosures, and other communications that we provide to you electronically satisfy any legal
                requirement that such communication is in writing. </p>
            <h5>Severability </h5>
            <p>If any of these Terms and Conditions shall be deemed invalid, void, or for any reason unenforceable, that
                term shall be deemed severable and shall not affect the validity and enforceability of any remaining
                terms or conditions. </p>
            <h5>Assignment </h5>
            <p>We shall be permitted to assign, transfer, or subcontract our rights and obligations under these terms
                without your consent or any notice to you. You shall not be permitted to assign, transfer, or
                subcontract any of your rights and obligations under this agreement. </p>
            <h5>Force Majeure </h5>
            <p>INKZUP is not liable for any delays caused by circumstances beyond INKZUP’s control, e.g. general labor
                dispute, extreme weather, acts of war, fire, lightning, terrorist attacks, changed governmental orders,
                technical problems, defects in power- /tele-/computer communications, or other communication and defects
                or delays in the service by sub-suppliers due to circumstances set forth above. </p>
            <h5>Entire Agreement </h5>
            <p>These Terms and Conditions set forth the entire understanding and agreement between you and INKZUP
                concerning the subject matter herein and supersede all prior or contemporaneous communications and
                proposals, whether electronic, oral, or written concerning the site. A printed version of these Terms
                and Conditions and any notice given in electronic form shall be admissible in judicial or administrative
                proceedings based upon or relating to these Terms and Conditions to the same extent and subject to the
                same conditions as other business documents and records originally generated and maintained in printed
                form. Any rights not expressly granted herein are reserved. You may not assign the Terms and Conditions,
                or assign, transfer or sublicense your rights therein. A failure to act concerning a breach by you or
                others does not waive INKZUP's right to act concerning subsequent or similar breaches. </p>
            <h5>Term and Termination </h5>
            <p>This agreement becomes effective the date that you first access the site and remains effective until it
                is terminated consistent with its terms. Violations of this agreement may result in the immediate
                termination of this agreement and denials or terminations of your access to the site. Such restrictions
                may be temporary or permanent. Upon termination, your right to use this site shall be revoked. All
                disclaimers, limitations of liability, indemnities, and rights of ownership and licenses to INKZUP shall
                survive any termination. </p>
            <h5>Contact Us </h5>
            <p>For any questions, complaints, and queries or to report any violations, kindly send an email on
                support@inkzup.com
            </p>
        </div>
    </div>
</div>