<app-auth-loader *ngIf="isLoad"> </app-auth-loader>
<div class="auth">
  <div class="container">
    <div class="text-center">
      <img class="cursor-pointer" routerLink="" src="assets/images/logo.svg" alt="Logo Image" class="pointer" />
  </div>
    <div class="row">
      <div class="col-md-5">
      
        <div class="auth_form">
          <h3>Reset Password</h3>
          <span class="text-danger" *ngIf="formErr"> {{ formErr }}</span>
          <form
            name="resetPasswordsForm"
            [formGroup]="resetPasswordsForm"
            (ngSubmit)="resetPasswords()"
          >
            <div class="mb-4">
              <mat-form-field [floatLabel]="'never'">
                <input
                  matInput
                  [type]="hide ? 'password' : 'text'"
                  placeholder="Create Password"
                  formControlName="password"
                  autocomplete="off"
                />
                <button
                  type="button"
                  mat-icon-button
                  matSuffix
                  (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide"
                >
                  <mat-icon style="color: #ffac00"
                    >{{ hide ? "visibility_off" : "visibility" }}
                  </mat-icon>
                </button>
                <img matPrefix src="assets/images/password.png" />
              </mat-form-field>
              <span class="text-danger" *ngIf="password_err">
                {{ password_err }}</span
              >
            </div>
            <div class="">
              <mat-form-field [floatLabel]="'never'">
                <input
                  matInput
                  [type]="hide ? 'password' : 'text'"
                  placeholder="Confirm Password"
                  formControlName="confirm_password"
                  autocomplete="off"
                />
                <button
                  type="button"
                  mat-icon-button
                  matSuffix
                  (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide"
                >
                  <mat-icon style="color: #ffac00"
                    >{{ hide ? "visibility_off" : "visibility" }}
                  </mat-icon>
                </button>
                <img matPrefix src="assets/images/password.png" />
              </mat-form-field>
              <span class="text-danger" *ngIf="cPassword_err">
                {{ cPassword_err }}</span
              >
            </div>
            <button class="submit_btn">Reset Password</button>
          </form>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-6">
        <div class="auth_img">
          <img src="assets/images/auth.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
