<app-page-loader *ngIf="isLoad"></app-page-loader>
<div class="view_booking">
  <div class="container">
    <div class="view_field">
      <button>
        <img src="assets/images/back_arrow.svg" alt="" (click)="back()" />
        <span>Complete the details below</span>
      </button>
     
      <div class="row">
        <div class="col-md-7 order-2">
          <div class="view_profile_booking">
         
            <!-- <p>
              Complete the information below to share your tattoo idea with your
              Inker.
            </p> -->
            <form
              name="AddBookingDetailsForm"
              [formGroup]="AddBookingDetailsForm"
              (ngSubmit)="AddBookingDetails()"
            >
              <div class="pt-4">
                <h6>Please select the tattoo body location</h6>
                <mat-form-field [floatLabel]="'never'">
                  <mat-select
                    placeholder="Body Part"
                    panelClass="select-input-panel-class"
                    formControlName="tattoo_location"
                  >
                    <mat-option value="Face" class="t_loction">Face</mat-option>
                    <mat-option value="Ears" class="t_loction">Ears</mat-option>
                    <mat-option value="Eye" class="t_loction">Eye</mat-option>
                    <mat-option value="Inner Lip" class="t_loction"
                      >Inner Lip</mat-option
                    >
                    <mat-option value="Neck" class="t_loction">Neck</mat-option>
                    <mat-option value="Shoulder" class="t_loction"
                      >Shoulder</mat-option
                    >
                    <mat-option value="Chest" class="t_loction"
                      >Chest</mat-option
                    >
                    <mat-option value="Ribs" class="t_loction">Ribs</mat-option>
                    <mat-option value="Stomach" class="t_loction"
                      >Stomach</mat-option
                    >
                    <mat-option value="Collar" class="t_loction"
                      >Collar</mat-option
                    >
                    <mat-option value="Upper Arm" class="t_loction"
                      >Upper Arm</mat-option
                    >
                    <mat-option value="Lower Arm" class="t_loction"
                      >Lower Arm</mat-option
                    >
                    <mat-option value="Elbow" class="t_loction"
                      >Elbow</mat-option
                    >
                    <mat-option value="Hands" class="t_loction"
                      >Hands</mat-option
                    >
                    <mat-option value="Fingers" class="t_loction"
                      >Fingers</mat-option
                    >
                    <mat-option value="Palm" class="t_loction">Palm</mat-option>
                    <mat-option value="Lower Back" class="t_loction"
                      >Lower Back</mat-option
                    >
                    <mat-option value="Upper Back" class="t_loction"
                      >Upper Back</mat-option
                    >
                    <mat-option value="Butt" class="t_loction">Butt</mat-option>
                    <mat-option value="Front Thigh" class="t_loction"
                      >Front Thigh</mat-option
                    >
                    <mat-option value="Back Thigh" class="t_loction"
                      >Back Thigh</mat-option
                    >
                    <mat-option value="Knees" class="t_loction"
                      >Knees</mat-option
                    >
                    <mat-option value="Calves" class="t_loction"
                      >Calves</mat-option
                    >
                    <mat-option value="Shin" class="t_loction">Shin</mat-option>
                    <mat-option value="Ankle" class="t_loction"
                      >Ankle</mat-option
                    >
                    <mat-option value="Foot" class="t_loction">Foot</mat-option>
                    <mat-option value="Toes" class="t_loction">Toes</mat-option>
                  </mat-select>
                  <img matPrefix src="assets/images/tattoo_loction.svg" />
                  <img
                    matSuffix
                    src="assets/images/down_arrow.svg"
                    class="mt-1"
                  />
                </mat-form-field>
                <span
                  class="text-danger float-left errSpan"
                  *ngIf="submitted && f.tattoo_location.errors"
                  >The tattoo location is required.</span
                >
              </div>
              <div class="pt-4">
                <h6>Tattoo Size (Inches)</h6>
                <mat-form-field [floatLabel]="'never'">
                  <mat-select
                    placeholder="1 inch"
                    panelClass="select-input-panel-class"
                    formControlName="tattoo_size"
                  >
                    <mat-option value="1 inch">1 inch</mat-option>
                    <mat-option value="2 inch">2 inch</mat-option>
                    <mat-option value="3 inch">3 inch</mat-option>
                    <mat-option value="4 inch">4 inch</mat-option>
                    <mat-option value="5 inch">5 inch</mat-option>
                    <mat-option value="6 inch">6 inch</mat-option>
                    <mat-option value="7 inch">7 inch</mat-option>
                    <mat-option value="8 inch">8 inch</mat-option>
                    <mat-option value="9 inch">9 inch</mat-option>
                    <mat-option value="10 inch">10 inch</mat-option>
                  </mat-select>
                  <img matPrefix src="assets/images/size.svg" class="" />
                  <img
                    matSuffix
                    src="assets/images/down_arrow.svg"
                    class="mt-1"
                  />
                </mat-form-field>
                <span
                  class="text-danger float-left errSpan"
                  *ngIf="submitted && f.tattoo_size.errors"
                  >The tattoo size is required.</span
                >
              </div>
              <div class="pt-4">
                <h6>Tattoo Color</h6>
                <mat-radio-group
                  aria-label="Select an option"
                  formControlName="tattoo_color"
                >
                  <mat-radio-button value="Black & Grey" checked
                    >Black & Grey</mat-radio-button
                  >
                  <mat-radio-button value="Color">Color</mat-radio-button>
                </mat-radio-group>
                <span
                  class="text-danger float-left errSpan"
                  *ngIf="submitted && f.tattoo_color.errors"
                  >The tattoo color is required.</span
                >
              </div>
              <div class="pt-4">
                <h6>Tattoo Description</h6>
                <mat-form-field [floatLabel]="'never'" class="textarea_div">
                  <textarea
                    rows="5"
                    matInput
                    placeholder='Ex: "I would like to have the wing of the bird colored in red and the outline to be black."'
                    formControlName="description"
                  ></textarea>
                  <img matPrefix src="assets/images/description.svg" class="" />
                </mat-form-field>
                <span
                  class="text-danger float-left errSpan"
                  *ngIf="submitted && f.description.errors"
                  >The tattoo description is required.</span
                >
              </div>
              <div class="row">
                <div
                  class="col-lg-3 col-6"
                  *ngFor="let url of imagesPreview; let i = index"
                >
                  <div class="imagePreview">
                    <button
                      mat-icon-button
                      class="cancle_img"
                      type="button"
                      (click)="removeSelectedFile(i)"
                    >
                      <mat-icon class="cancle_mat">delete</mat-icon>
                    </button>
                    <img [src]="url" />
                    <!-- <button type="button"  (click)="deleteImage(url)">Delete</button> -->
                  </div>
                </div>
              </div>
              <div class="pt-4">
                <h6>Reference Images</h6>
                <div class="profile-img add_btn">
                  <img src="assets/images/upload_image.svg" /> Upload Images
                  <input
                    type="file"
                    name="file"
                    multiple
                    (change)="onFileChange($event)"
                  />
                </div>
                <span
                  class="text-danger float-left errSpan mt-2"
                  *ngIf="refrenceImg_err"
                  >Please upload at least one reference image.</span
                >
              </div>
              <button class="save_btn pt-4">Next</button>
            </form>
          </div>
        </div>
        <div class="col-md-5 order-md-2 order-1">
          <div class="view_box">
            <div class="view_box_img">
              <div class="bokimg_img">
                <img src="{{ artistDetails.banner_image }}" />
              </div>
              <h3>{{ artistDetails.studio_name }}</h3>
              <h6>{{ artistDetails.artist_name }}</h6>
              <p>
                {{ artistDetails.street }} {{ artistDetails.route }}
                {{ artistDetails.city }}, {{ artistDetails.state }}
                {{ artistDetails.zipcode }}
              </p>
            </div>
            <div class="view_box_txt">
              <h4>
                {{ serviceDetails.name
                }}<span class="float-right">${{ serviceDetails.price }}</span>
              </h4>
              <p>
                Duration
                <span class="float-right">{{ serviceDetails.duration }}</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
