/* You can add global styles to this file, and also import other style files */

/* @import 'material-icons/iconfont/material-icons.scss'; */

html,
body {
  scrollbar-color: #ffac00 rgba(255, 172, 0, 0.2) !important;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  height: 100%;
}

::-webkit-scrollbar-thumb {
  background: #ffac00;
  border-radius: 20px;
}

/* Inker Details */

.inkerList {
  background-image:url("assets/images/become.png");
  /* background-image: linear-gradient(rgb(0 0 0 / 32%), rgb(0 0 0 / 68%)), url("assets/images/become.png"); */
}
::-webkit-scrollbar-track {
  background: rgba(255, 172, 0, 0.2);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffac00;
  border-radius: 20px;
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif !important;
}

.mat-dialog-container {
  background: #000;
}

button:focus {
  outline: none !important;
}

/* .consent form checkbox */

.consent_form .mat-checkbox-inner-container {
  height: 13px;
  width: 13px;
  margin-top: 6px;
}

.account_check
  span.mat-checkbox-inner-container.mat-checkbox-inner-container-no-side-margin {
  background: #000;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.account_check .mat-checkbox-frame {
  border-color: transparent !important;
}

.account_check .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background: transparent !important;
}

.account_check .mat-checkbox-checkmark-path {
  stroke: #ffac00 !important;
}

.auth_form .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding-top: 5px;
  border-top: 0 !important;
  margin-top: 13px !important;
  margin-left: 5px !important;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: unset;
}

.mat-form-field-prefix,
.mat-form-field-suffix {
  vertical-align: text-top;
  margin-top: 18px;
  height: auto;
  align-self: start;
}

.mat-menu-content {
  padding: 0;
}

.mat-menu-content {
  background-color: #000;
  color: #fff;
}

.autocomplete-container .suggestions-container .complete-selected,
.autocomplete-container .suggestions-container ul li:hover {
  color: #000;
}

.mat-form-field {
  font-family: "Nunito", sans-serif !important;
}

.mat-select-arrow-wrapper {
  display: none !important;
}

.mat-checkbox-frame {
  border-color: #ffac00 !important;
  border-width: 1px !important;
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background: #ffac00 !important;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  height: 0;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #ffac00;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent
  .mat-radio-ripple
  .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: #ffac00;
}

.mat-radio-label-content {
  font-size: 14px;
  color: #e0e0e0;
  padding-right: 20px !important;
}

.mat-radio-outer-circle {
  border-color: #ffac00;
}

.mat-datepicker-content .mat-calendar {
  background: #161616;
  color: #fff;
}

.mat-calendar-table-header {
  color: #fff;
}

.mat-calendar-body-label {
  color: #fff;
}

.mat-calendar-body-cell-content,
.mat-date-range-input-separator {
  color: #fff;
}

.view_profile_booking .booking_date .mat-datepicker-toggle,
.mat-datepicker-content .mat-calendar-next-button,
.mat-datepicker-content .mat-calendar-previous-button {
  color: #fff;
  position: absolute;
  top: -3px;
  left: -37px;
}

.view_profile_booking .booking_date .mat-form-field-infix {
  left: 24px;
}

.mat-button .mat-button-wrapper > *,
.mat-flat-button .mat-button-wrapper > *,
.mat-stroked-button .mat-button-wrapper > *,
.mat-raised-button .mat-button-wrapper > *,
.mat-icon-button .mat-button-wrapper > *,
.mat-fab .mat-button-wrapper > *,
.mat-mini-fab .mat-button-wrapper > * {
  color: #fbac18;
}

.mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  border-color: #ffac00;
}

.mat-calendar-body-selected {
  background-color: #ffac00;
}

.mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover
  > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical),
.cdk-keyboard-focused
  .mat-calendar-body-active
  > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical),
.cdk-program-focused
  .mat-calendar-body-active
  > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  background-color: #ffac00;
}

.view_profile_booking .mat-select-panel {
  min-width: calc(100% + 236px) !important;
  margin-left: -34px !important;
}

.card_img button.mat-menu-item:focus {
  border: none !important;
  outline: none;
}

.question-banner .mat-content {
  display: -webkit-box;
}

.select-input-panel-class {
  background: #161616;
  margin-top: 51px;
  min-width: 630px !important;
  margin-left: -29px;
  box-shadow: 0px 0px 0px #000000 !important;
  border-radius: 10px !important;
  padding-bottom: 20px !important;
}

.select-input-panel-class,
.mat-select-value {
  max-width: unset !important;
}

.mat-select {
  font-family: "Nunito", sans-serif !important;
}

.mat-option {
  font-family: "Nunito", sans-serif !important;
  padding: 30px 20px 16px !important;
}

.mat-select-value-text {
  color: #fff;
}

.mat-option-text {
  color: #fff;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: transparent;
}

.consent_form .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

.consent_form
  .mat-form-field-appearance-legacy
  .mat-form-field-suffix
  .mat-icon-button {
  display: none;
}

.service_check .mat-checkbox-inner-container {
  border: 1px solid #ffac00;
  background: #000;
  height: 20px;
  width: 20px;
}

.service_check .mat-checkbox-frame {
  border-width: 0 !important;
}

.mat-body,
.mat-body-1,
.mat-typography {
  font: 400 14px/20px Nunito, "Nunito", sans-serif;
}

.mat-h3,
.mat-subheading-2,
.mat-typography h3 {
  font: 400 14px/20px Nunito, "Nunito", sans-serif;
}

.mat-h6,
.mat-typography h6 {
  font: 400 14px/20px Nunito, "Nunito", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif !important;
}

.auth .mat-form-field-appearance-legacy .mat-form-field-underline {
  height: 0;
}

.auth_form .mat-checkbox-layout .mat-checkbox-label {
  font-family: Nunito, sans-serif !important;
  font-weight: 100;
  color: #fff;
  font-size: 14px;
}

.mat-focused {
  border: none;
}

.mat-icon-button ::ng-deep .mat-button-focus-overlay {
  display: none;
}

.mat-input-element {
  caret-color: #fff;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
  color: #848282 !important;
}

.mat-form-field .mat-focused .mat-form-field-label {
  color: #848282;
}

.mat-card {
  background: #161616;
  border-radius: 10px;
}

/* width */

::-webkit-scrollbar {
  width: 5px;
}

/* Track */

/* ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 20px; 
  }
   
  /* Handle
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 20px;
  }
  
  /* Handle on hover 
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 20px; 
  } */

.mat-expansion-indicator {
  background-image: url(./assets/images/arrow.svg);
  transform: rotate(0deg);
  vertical-align: middle;
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
}

.mat-expansion-indicator::after {
  border-style: solid;
  border-width: 0 2px 2px 0;
  background-image: url(./assets/images/arrow.svg);
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  content: unset !important;
  vertical-align: middle;
}

.mat-expansion-panel-header:not([aria-disabled="true"]) {
  height: auto;
}

.mat-expansion-panel:not(.mat-expanded):not([aria-disabled="true"])
  .mat-expansion-panel-header:hover {
  background: transparent;
}

.mat-expansion-panel-content {
  text-align: left;
  padding-top: 10px;
}

/* timepicker css */

.igx-time-picker__header {
  background: #5438ff !important;
}

.igx-time-picker__header-ampm {
  color: #fff !important;
}

.igx-time-picker__header-hour {
  color: #fff !important;
}

.igx-time-picker__main {
  background: #000 !important;
}

.igx-time-picker__item--selected {
  color: #5438ff !important;
}

.igx-time-picker__column {
  color: #fff !important;
}

.igx-button--flat {
  color: #5438ff !important;
}

.igx-button--flat:focus,
.igx-button--flat:active {
  background: rgba(255, 172, 0, 0.2) !important;
}

.igx-time-picker__item:hover {
  color: #5438ff !important;
}

igx-prefix.ng-star-inserted {
  display: none !important;
}

.igx-input-group__bundle-main label {
  display: none !important;
  color: #fff !important;
}

.igx-input-group__input:not([type="date"]),
.igx-input-group__textarea:not([type="date"]) {
  color: #fff;
}

.igx-input-group--filled .igx-input-group__label {
  display: none;
}

input.igx-input-group__input.ng-star-inserted:focus {
  color: #fff !important;
}

.igx-input-group__bundle {
  padding-top: 0 !important;
  padding-bottom: 10px !important;
}

.igx-input-group__bundle {
  box-shadow: none !important;
}

@media screen and (max-width: 500px) {
  .auth_form .mat-checkbox-layout .mat-checkbox-label {
    font-size: 14px;
  }
  .mat-checkbox-inner-container {
    height: 14px !important;
    width: 14px !important;
  }
}

@media only screen and (max-width: 767px) {
  .mat-select-panel {
    min-width: 100% !important;
    margin-left: -32px;
  }
  .home_2 .autocomplete-container .input-container input {
    padding-left: 46px;
  }
  /* .cdk-overlay-pane{
    top: 25% !important;
    left: 30% !important;
    right: 0 !important;
  } */
}

@media only screen and (min-width: 768px) and (max-width: 1400px) {
  /* .mat-select-panel{
        min-width: 100% !important;
    } */
}

.errSpan {
  width: 100%;
}

button {
  cursor: pointer;
}

.account_check .mat-checkbox-inner-container {
  background: #000;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 35px;
  top: 67px;
  border: 2px solid #ffac00;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  bottom: 0 !important;
}

.mat-form-field-underline {
  bottom: 0 !important;
}

.text-style {
  white-space: pre-wrap;
}

.home .autocomplete-container .input-container input {
  background-color: transparent;
  color: #fff;
}

.home .autocomplete-container {
  box-shadow: none;
}

/*booking TIme*/

.blocked_slot {
  opacity: 40% !important;
}

.autocomplete-container .not-found div {
  color: black !important;
}

.custom-select {
  background-image: url(assets/images/down_arrow.svg) !important;
  outline: none;
  border: none !important;
  color: #848282 !important;
  border-radius: 10px !important;
  padding: 5px 22px !important;
  height: 63px !important;
  background-size: 21px 38px !important;
  background: #161616 url(assets/images/down_arrow.svg) no-repeat right 25.7px
    center !important;
}

.custom-select:focus {
  box-shadow: none !important;
}

.save_inkzer .stars-line,
.stars .stars-line {
  justify-content: center;
  z-index: 6;
}

#inputGroupSelect01 {
  color: #fff !important;
}

.mat-dialog-container {
  height: auto !important;
}

.ngx-pagination .current {
  background-color: #ffac00 !important;
}

.ngx-pagination a,
.ngx-pagination button {
  display: block;
  padding: 0.1875rem 0.625rem;
  border-radius: 0;
  background-color: #272727;
  color: #fff !important;
  border: 1px solid #402fa7;
  border-radius: 4px !important;
  margin: 2px 3px;
}

.ngx-pagination .current {
  border-radius: 3px;
  line-height: 26px;
}

.ngx-pagination a:hover,
.ngx-pagination button:hover {
  color: #fff;
  background-color: #ffac00 !important;
}

.ngx-pagination .disabled {
  padding: 0.1875rem 0.625rem;
  color: #fff;
  cursor: default;
  background: #272727;
  border: 1px solid #402fa7;
  border-radius: 3px;
  margin: 2px 3px;
}

@media screen and (max-width: 992px) {
  .cdk-overlay-container,
  .cdk-global-overlay-wrapper {
    pointer-events: none;
    left: 50%;
    height: 100%;
    top: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .mat-dialog-container {
    padding: 24px 15px !important;
  }
}

.home_2 .autocomplete-container .input-container input {
  background-color: transparent;
  color: #fff;
  padding: 0 47px;
}

.home_2 .autocomplete-container .input-container .x i {
  opacity: 0;
}

/*Consant form new*/

.consent_1 .mat-form-field.mat-warn .mat-input-element,
.mat-form-field-invalid .mat-input-element {
  caret-color: #fff;
}

.consent_1 .mat-input-element {
  border-bottom: 1px solid #e0e0e0;
}

.consent_1 .mat-form-field.mat-focused .mat-form-field-ripple,
.mat-form-field.mat-form-field-invalid .mat-form-field-ripple {
  opacity: 0 !important;
}

#email_top .mat-form-field-appearance-legacy .mat-form-field-label {
  top: 25px !important;
}

.password .mat-form-field-appearance-legacy .mat-form-field-label {
  top: 21px !important;
}

.mat-calendar-previous-button::after,
.mat-calendar-next-button::after {
  opacity: 0;
}

/* break line for description box booking-details.compo */

.textarea_div .mat-form-field-label {
  white-space: normal;

  overflow: hidden;

  text-overflow: initial;

  line-height: 23px;
}

.cursor {
  cursor: pointer;
}
.faq  .mat-expansion-panel-body{
  padding: 10px 43px;
}

