.auth{
    background: #060606;
    background-image:  url(../../../../assets/images/background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    float: left;
    padding: 50px 0;
    min-height: 100vh;
    /* height: 100%; */
}
.auth_img img{
    width: 100%;
}

.auth_form{
    width: 100%;
    float: left;
    padding: 50px 0 30px;
    color: #fff;
}
.auth_form h3{
    /* font-weight: 500; */
    /* font-size: 30px; */
    font-size: 35px;
    font-weight: 700;
}
.auth_form h6{
    font-size: 15px;
    font-weight: 700;
    margin: 11px 0;
}
.mat-form-field{
    width: 11%;
    background: rgba(64, 64, 64, 0.5);
    border-radius: 8px;
    padding: 0 10px;
    margin-bottom: 5px;
    color: #fff;
    margin-right: 15px;
}
.auth_form img{
    width: 65%;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-underline {
    display: none;
}
.mat-form-field-appearance-legacy .mat-form-field-label{
    color: #848282 !important;
}
.mat-form-field .mat-focused .mat-form-field-label {
    color: #848282;
}
.auth_form h6 a{
    color: #fff;
}
.submit_btn{
    background: #5438FF;
    border-radius: 10px;
    width: 82%;
    border: none;
    color: #fff;
    outline: none;
    padding: 15px;
    font-size: 16px;
    float: left;
    margin-top: 20px;
    margin-bottom: 10px;
}
.auth_form p{
    font-weight: 100;
    color: #dedede;
    padding-bottom: 30px;
    font-size: 16px;
    margin: 0;
}
