.view_booking {
    width: 100%;
    float: left;
    background: #000;
    padding: 80px 0;
  }
  
  .view_booking button {
    background: none;
    border: none;
    outline: none;
  }
  
  .view_booking button img {
    width: 20px;
  }
  
  .errSpan {
    font-size: 16px !important;
    line-height: 0px !important;
    padding-bottom: 25px;
    padding-top: 10px;
  }
  
  .view_booking span {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 55px;
    letter-spacing: 0.2px;
    color: #ffffff;
    vertical-align: middle;
    /*padding-left: 10px;*/
  }
  
  .view_profile_booking {
    width: 100%;
    float: left;
    /* padding:20px; */
  }
  
  .view_booking p {
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #e0e0e0;
  }
  
  .profile_booking span {
    font-size: 18px;
    align-items: center;
    color: #ffffff;
    padding-left: 13px;
    font-weight: 500;
  }
  
  .booking_status {
    background: rgba(56, 219, 255, 0.2);
    border-radius: 4px;
    color: #38dbff;
    font-size: 16px;
    padding: 18px 30px;
  }
  
  .details {
    width: 100%;
    float: left;
    padding: 30px 0;
  }
  
  .details h2 {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
  }
  
  .details span {
    font-size: 16px;
    font-weight: 400;
    margin-top: -15px;
  }
  
  .details span img {
    width: 25px;
    padding-right: 5px;
  }
  
  .details p {
    color: #fff;
    font-weight: 200;
    padding-top: 16px;
    font-size: 17px;
  }
  
  .status {
    background: rgba(0, 185, 225, 0.2);
    border-radius: 10px;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 33px;
    color: #00b9e1;
    width: 100%;
    float: left;
    text-align: center;
    padding: 15px;
    margin: 10px 0 50px;
  }
  
  .box_detail {
    background: #161616;
    border-radius: 10px;
    width: 100%;
    float: left;
    padding: 15px 35px;
    margin: 15px 0;
  }
  
  .box_detail h6 {
    font-size: 16px;
    color: #fff;
    font-weight: bold;
  }
  
  .box_detail p {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 0;
    padding-top: 0;
  }
  
  .details h4 {
    color: #fff;
    width: 100%;
    font-size: 22px;
  }
  
  .ref_img img {
    width: 100%;
  }
  
  .consent_form {
    width: 100%;
    float: left;
    padding-top: 50px;
    border-bottom: 4px solid #161616;
    border-top: 4px solid #161616;
  }
  
  .consent_form h4 {
    font-size: 18px;
    font-weight: bold;
  }
  
  .consent_form .mat-icon {
    float: left;
    color: #fbac18;
    font-size: 18px;
    padding-top: 20px;
  }
  
  .consent_form p {
    width: 95%;
    float: left;
    padding-left: 10px;
    color: #e0e0e0;
  }
  
  .consent_form a {
    color: #ffac00;
  }
  
  .consent_text {
    width: 100%;
    float: left;
    padding-top: 35px;
    padding-bottom: 35px;
  }
  
  .consent_text h6 {
    color: #ffffff;
    float: left;
  }
  
  .consent_text h6 span {
    float: right;
    margin-left: 10px;
    border-bottom: 2px solid #565555;
    padding-bottom: 4px;
    margin-top: -15px;
    color: #e0e0e0;
    font-weight: 200;
    line-height: 25px;
  }
  
  .view_deposit {
    width: 100%;
    float: left;
    padding: 20px 20px 20px 10px;
  }
  
  .view_date {
    width: 100%;
    float: left;
    color: #fff;
  }
  
  .view_date img {
    padding-right: 10px;
  }
  
  .edit_btn {
    width: 100%;
    float: left;
    text-align: center;
    background: #5438ff !important;
    border-radius: 10px;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    margin-top: 42px;
    padding: 15px;
  }
  
  .view_box {
    width: 100%;
    float: left;
    background: #161616;
    border-radius: 10px;
  }
  
  .view_box_img {
    width: 100%;
    float: left;
    padding: 20px;
    border-bottom: 2px solid #000;
  }
  
  .view_box_img img {
    width: 100%;
  }
  
  .view_box_img h3 {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    padding: 15px 0 0;
  }
  
  .view_box_img h6 {
    font-weight: bold;
    font-size: 16;
    color: #e0e0e0;
  }
  
  .view_box_img p {
    font-weight: 300;
    font-size: 16;
    color: #e0e0e0;
  }
  
  .view_box_txt {
    width: 100%;
    float: left;
    padding: 20px;
  }
  
  .view_box_txt h4 {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 33px;
    color: #fff;
  }
  
  .view_box_txt h4 span {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 33px;
    color: #fff;
  }
  
  .view_box_txt p {
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    color: #e0e0e0;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  
  .view_box_txt p span {
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    color: #e0e0e0;
  }
  
  .view_profile_booking h6 {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    color: #ffffff;
  }
  
  .view_profile_booking img {
    width: 30px;
    padding-right: 10px;
  }
  
  .mat-form-field {
    width: 100%;
    background: #161616;
    border-radius: 10px;
    padding: 0 20px;
    margin-bottom: 5px;
    color: #fff;
  }
  
  ::ng-deep .mat-form-field.mat-focused .mat-form-field-underline {
    display: none;
  }
  
  .mat-form-field-appearance-legacy .mat-form-field-label {
    color: #848282 !important;
  }
  
  .mat-form-field .mat-focused .mat-form-field-label {
    color: #848282;
  }
  
  .save_btn {
    background: #5438ff;
    color: #fff;
    border: 1px solid #5438ff;
    padding: 6px 20px;
    width: 100%;
    margin-right: 10px;
    border-radius: 8px;
  }
  
  .profile-img {
    text-align: center;
    float: left;
  }
  
  .profile-img span {
    font-size: 60px;
  }
  
  .profile-img {
    position: relative;
    background: #161616;
    width: 100%;
    padding: 50px;
    text-align: center;
    border-radius: 8px;
    font-size: 16px;
    color: #f5b83b;
  }
  
  .profile-img img {
    margin-top: 0px;
    margin-left: -7px !important;
  }
  
  .profile-img input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  
  .save_btn {
    background: #5438ff !important;
    color: #fff;
    border: 1px solid #5438ff !important;
    padding: 0px 20px 15px;
    width: 100%;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    float: left;
    margin-top: 30px;
  }
  
  .hours_input {
    width: 100%;
    background: #161616;
    border-radius: 10px;
    display: flex;
    padding: 12px 20px;
  }
  
  .pay_card {
    /* background-image: url(.././../../../../assets/images/credit_card.svg); */
    /* margin:30px 0px 30px -10px;
    width: 100%;
    float: left;
    padding: 20px 0;
    background-size: 100% 100%;
    background-repeat: no-repeat; */
    position: relative;
  }
  
  .pay_card img {
    width: 100%;
  }
  
  .card_img {
    position: absolute;
    top: 40px;
    left: 30px;
    right: 40px;
    /* width: 100%;
    float: left;
    padding: 20px 45px 30px; */
  }
  
  .card_img img {
    width: 100px;
    padding-bottom: 20px;
  }
  
  .card_img h1 {
    color: #ffffff;
    font-size: 28px !important;
    padding: 0 10px;
    line-height: 20px;
    margin: 10px 0;
  }
  
  .card_img h3 {
    color: #ffffff;
    font-size: 16px;
    padding: 0px 10px 0;
    width: 100%;
    float: left;
    line-height: 20px;
  }
  
  .card_img h3 span {
    float: right;
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
  }
  
  .card_img p {
    padding: 0 10px;
    font-size: 14px;
    color: #fff;
  }
  
  .card_img p span {
    padding: 0 10px;
    font-size: 14px;
    color: #fff;
    float: right;
    line-height: 20px;
    font-weight: 400;
  }
  
  .h3 {
    color: #fff;
    font-size: 22px;
    margin: 15px 20px;
  }
  
  .add_card {
    width: 100%;
    float: left;
    padding: 50px 0;
  }
  
  .add_card h6 {
    color: #fff;
  }
  
  form {
    width: 100%;
    float: left;
  }
  
  .edit-btn {
    border-radius: 5px;
    padding: 10px 40px;
    color: #ffff;
    background-color: #5438ff !important;
    font-weight: bold;
    outline: none;
    border: none;
    letter-spacing: 1px;
    font-size: 18px;
    margin: 20px 10px 0 0;
    float: right;
  }
  
  .bokimg_img {
    height: 180px;
    width: 100%;
    float: left;
    margin-bottom: 20px;
  }
  
  .bokimg_img img {
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  @media (max-width: 380px) {
    .cancel-btn {
        width: 100%;
    }
    .edit-btn {
        width: 100%;
        float: left;
    }
  }